<template>
  <el-card
    class="dockerimage-card"
    :body-style="{ padding: '0' }"
    shadow="never">
    <div class="tags">
      <el-tag
        effect="plain"
        size="small">
        Type: <b>Dockerimage</b>
      </el-tag>
      <el-tag
        v-if="$userIsAdmin"
        :effect="user === $currentUser.username ? 'light' : 'plain'"
        size="small"
        type="info">
        User: <b>{{ user }}</b>
      </el-tag>
      <el-tag
        v-if="project"
        effect="light"
        size="small">
        Project: <b>{{ project }}</b>
      </el-tag>
      <el-tag
        v-if="jobs.length > 0"
        effect="light"
        size="small"
        type="info">
        Jobs: <b>{{ jobs.length }}</b>
      </el-tag>
    </div>
    <div class="info">
      <div
        v-if="jobs.length < 1"
        class="name">
        <router-link :to="imageDetailsLink">
          <span>{{ name }}</span>
        </router-link>
      </div>
      <el-collapse
        v-else
        v-model="showJobs"
        accordion>
        <el-collapse-item name="jobs">
          <template slot="title">
            <div class="name">
              <router-link :to="imageDetailsLink">
                <span>{{ name }}</span>
              </router-link>
            </div>
          </template>
          <el-table
            :data="jobs"
            :show-header="false"
            empty-text="This Dockerimage has no Jobs yet.">
            <el-table-column
              column-key="name"
              label="Name"
              prop="name">
              <template slot-scope="scope">
                <router-link
                  :to="{ name: 'jobs-details', params: { id: scope.row.id }}">
                  {{ scope.row.name }}
                </router-link>
              </template>
            </el-table-column>
            <el-table-column
              align="right"
              prop="status">
              <template slot-scope="scope">
                <el-tag
                  :type="$typeByJobStatus(scope.row.status)"
                  effect="light"
                  size="small">
                  <b>{{ scope.row.status }}</b>
                </el-tag>
              </template>
            </el-table-column>
            <el-table-column align="right">
              <template slot-scope="scope">
                <router-link :to="{ name: 'jobs-details', params: { id: scope.row.id } }">
                  <el-button
                    :disabled="isDeleting"
                    icon="el-icon-more"
                    plain
                    round
                    size="mini"
                    type="primary" />
                </router-link>
              </template>
            </el-table-column>
          </el-table>
        </el-collapse-item>
      </el-collapse>
    </div>
    <div class="actions">
      <div class="start">
        <router-link :to="imageDetailsLink">
          <el-button
            :disabled="isDeleting"
            :plain="!imageDetailsAreOpen"
            icon="el-icon-more"
            round
            size="mini"
            type="primary">
            Details
          </el-button>
        </router-link>
        <el-button
          v-if="userOwnsImage"
          :loading="isDeleting"
          :disabled="isDeleting"
          icon="el-icon-delete"
          plain
          round
          size="mini"
          type="danger"
          @click="deleteImage">
          {{ isDeleting ? 'Deleting...' : 'Delete' }}
        </el-button>
        <el-button
          v-if="hasSource"
          :disabled="isDeleting"
          icon="el-icon-edit"
          plain
          round
          size="mini"
          type="warning"
          @click="editSource">
          Edit Source
        </el-button>
      </div>
      <div class="end">
        <el-button
          v-if="jobs.length > 0"
          class="toggle-jobs-button"
          :disabled="isDeleting"
          plain
          round
          size="mini"
          type="info"
          @click="showJobs = showJobs ? '' : 'jobs'">
          {{ showJobs ? 'Hide Jobs' : 'Show Jobs' }}
        </el-button>
        <el-button
          v-if="userOwnsImage"
          :disabled="isDeleting"
          plain
          round
          size="mini"
          type="success"
          @click="createJob">
          New Job
        </el-button>
      </div>
    </div>
  </el-card>
</template>

<script>
  export default {
    name: 'DockerimageCard',
    props: {
      id: {
        type: String,
        default: null,
      },
      user: {
        type: String,
        default: null,
      },
      name: {
        type: String,
        default: null,
      },
      project: {
        type: String,
        default: null,
      },
      jobs: {
        type: Array,
        default: null,
      },
      hasSource: {
        type: Boolean,
        default: false,
      },
    },
    data: function () {
      return {
        isDeleting: false,
        showJobs: '',
      }
    },
    computed: {
      imageDetailsLink () {
        if (this.imageDetailsAreOpen) return { name: 'images-overview' }
        else return { name: 'images-details', params: { id: this.id } }
      },
      imageDetailsAreOpen () {
        return this.$route.name === 'images-details' && this.$route.params.id.toString() === this.id.toString()
      },
      userOwnsImage () {
        const username = this.$store.getters['user/username']

        return this.user === username
      },
    },
    methods: {
      createJob () {
        this.$emit('create-job', {
          id: this.id,
        })
      },
      deleteImage () {
        this.isDeleting = true
        this.$emit('delete-image', {
          id: this.id,
          next: () => this.isDeleting = false,
          done: () => {
            const id = this.$route.params.id
            if (this.$route.name === 'images-details' && this.id === id) {
              setTimeout(() => this.$router.push({ name: 'images-overview' }), 500)
            }
          },
        })
      },
      editSource() {
        this.$router.push({ name: 'images-edit-dockerimage', params: { id: encodeURIComponent(this.id) } })
      },
    },
  }
</script>

<style scoped>
  .el-card {
    margin-bottom: 24px;
  }

  .el-collapse {
    border: 0;
  }

  .el-table::before {
    height: 0;
  }

  >>> .el-table__body {
    width: 100% !important;
  }

  >>> .el-table__body colgroup {
    display: none !important;
  }

  >>> .el-table__body tr {
    display: flex;
  }

  >>> .el-table__body tr:hover > td {
    background-color: #f7f7f7 !important;
  }

  >>> .el-table__body td {
    border-bottom: 0;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
  }

  >>> .el-table__body td.is-right {
    flex: 0 0 auto;
  }

  >>> .el-collapse .el-collapse-item__header {
    height: auto;
    line-height: 28px;
  }

  .tags {
    padding: 16px 16px 0 16px;
  }

  .tags:empty {
    padding-top: 8px;
  }

  .tags .el-tag {
    margin: 0 10px 10px 0;
  }

  .tags .el-tag a {
    color: inherit;
    text-decoration: none;
  }

  .info {
    padding: 8px 16px 16px 16px;
  }

  .info .name {
    font-size: 18px;
    font-weight: bold;
  }

  .info a {
    color: #303133;
    text-decoration: none;
  }

  .actions {
    padding: 8px 16px 16px 16px;
    background: #fafcff;
    border-top: 1px #ebeef5 solid;
    display: flex;
    justify-content: space-between;
  }

  .actions .el-button {
    margin: 10px 10px 0 0;
  }

  .actions .toggle-jobs-button:active:not(:hover),
  .actions .toggle-jobs-button:focus:not(:hover) {
    color: #909399;
    background: #f4f4f5;
    border-color: #d3d4d6;
  }
</style>
