<template>
  <transition name="el-fade-in">
    <el-card
      class="message-card"
      :body-style="{ padding: '8px' }"
      shadow="never">
      <div class="actions">
        <el-button
          :loading="isUpdating"
          :disabled="isSeen"
          :icon="isSeen ? '' : 'el-icon-check'"
          :type="isSeen ? 'info' : 'success'"
          size="mini"
          plain
          round
          @click="markAsSeen">
          {{ isSeen ? 'Seen' : 'Mark As Seen' }}
        </el-button>
      </div>
      <div class="name">
        <router-link :to="{ name: 'jobs-details', params: { id: jobId } }">
          <span><span>{{ jobName }}</span></span>
        </router-link>
      </div>
      <div class="tags">
        <el-tooltip
          v-if="reason"
          placement="top">
          <div slot="content">
            <b>Reason:</b> {{ reason }}
          </div>
          <el-tag
            :effect="isSeen ? 'light' : 'dark'"
            :type="$typeByMessageType(type)"
            size="small">
            <span v-if="isSeen"><i class="el-icon-info"></i> {{ $labelByMessageType(type) }}</span>
            <b v-else><i class="el-icon-info"></i> {{ $labelByMessageType(type) }}</b>
          </el-tag>
        </el-tooltip>
        <el-tag
          v-else
          effect="light"
          size="small"
          :type="$typeByMessageType(type)">
          <span v-if="isSeen">{{ $labelByMessageType(type) }}</span>
          <b v-else>{{ $labelByMessageType(type) }}</b>
        </el-tag>
        <el-tag
          effect="light"
          size="small"
          type="info">
          {{ time }}
        </el-tag>
      </div>
    </el-card>
  </transition>
</template>

<script>
  import dateFormat from 'dateformat'
  import * as apiService from '@/services/api.service'

  export default {
    name: 'MessageCard',
    props: {
      id: {
        type: Number,
        default: null,
      },
      user: {
        type: String,
        default: null,
      },
      jobId: {
        type: Number,
        default: null,
      },
      jobName: {
          type: String,
          default: null,
      },
      imageName: {
          type: String,
          default: null,
      },
      type: {
        type: String,
        default: null,
      },
      timestamp: {
        type: String,
        default: null,
      },
      reason: {
        type: String,
        default: '',
      },
      seen: {
        type: Boolean,
        default: false,
      },
    },
    data: function () {
      return {
        isUpdating: false,
        isSeen: false,
      }
    },
    computed: {
      time () {
        return dateFormat(this.timestamp, 'dd.mm.yyyy HH:MM:ss')
      },
    },
    mounted() {
      this.isSeen = this.seen
    },
    methods: {
      markAsSeen () {
        this.isUpdating = true

        apiService
          .markInboxMessagesAsSeen([this.id])
          .then(() => this.isSeen = true)
          .catch(error =>
            this.$message({
              type: 'error',
              message: error,
              offset: 36,
            }),
          )
          .finally(() => this.isUpdating = false)
      },
    },
  }
</script>

<style scoped>
  .message-card {
    margin-bottom: 16px;
  }

  .message-card >>> .el-card__body {
    display: flex;
    align-items: center;
  }

  .tags {
    flex: 0 0 auto;
  }

  .tags .el-tag {
    margin: 2px 0 2px 10px;
  }

  .name {
    font-size: 16px;
    font-weight: bold;
    flex: 1 0 auto;
  }

  .name a {
    color: #303133;
    text-decoration: none;
  }

  .actions .el-tag,
  .actions .el-button {
    margin-right: 10px;
  }
</style>
