<template>
  <div class="editor-wrapper">
    <div class="image-data-container">
      <el-input
        v-model="currentImageName"
        :disabled="isLoading || !nameable"
        placeholder="Please input">
        <template slot="prepend">
          {{ $currentUser.username }} /
        </template>
        <el-button
          slot="append"
          type="success"
          :loading="isLoading"
          @click="build">
          Build
        </el-button>
      </el-input>
    </div>
    <div class="editor-buttons-container">
      <el-button-group>
        <el-button
          type="primary"
          size="small"
          icon="el-icon-edit"
          :disabled="isLoading"
          @click="openEditFileDialog">
          Edit File
        </el-button>
        <el-button
          type="primary"
          size="small"
          icon="el-icon-plus"
          :disabled="isLoading"
          @click="addTab">
          Add File
        </el-button>
      </el-button-group>
    </div>
    <el-tabs
      v-model="currentTab"
      type="card"
      :closable="files.length > 1"
      @tab-remove="removeTab">
      <el-tab-pane
        v-for="(file, index) in files"
        :key="index"
        v-loading="isLoading"
        :label="file.name"
        :name="index.toString()"
        :disabled="isLoading">
        <monaco-editor
          v-model="file.content"
          class="editor"
          :language="languageByFilename(file.name)"
          :options="monacoOptions">
        </monaco-editor>
      </el-tab-pane>
    </el-tabs>
    <edit-file-meta-dialog
      :file="currentEditingFile"
      @cancel="currentEditingFile = null"
      @confirm="confirmEditDialog($event)">
    </edit-file-meta-dialog>
  </div>
</template>

<script>
  import Vue from 'vue'
  import _ from 'underscore'
  import slugify from 'slugify'
  import MonacoEditor from 'vue-monaco'
  import EditFileMetaDialog from '@/components/editor/EditFileMetaDialog.vue'
  import * as apiService from '@/services/api.service'

  slugify.extend({'/': '-'})
  const slugifyImageName = (imageName) => slugify(imageName, {
    remove: /[*+~.()'"!:@]/g,
  })

  export default {
    name: 'DockerimageEditor',
    components: {
      EditFileMetaDialog,
      MonacoEditor,
    },
    props: {
      input: {
        type: Array,
        default: null,
      },
      nameable: {
        type: Boolean,
        default: true,
      },
      imageName: {
        type: String,
        default: null,
      },
    },
    data () {
      return {
        currentImageName: 'unnamed-image',
        currentEditingFile: null,
        currentTab: null,
        editableTabsValue: 'Dockerfile',
        files: [],
        isLoading: false,
        monacoOptions: {
          minimap: {
            enabled: false,
          },
          scrollBeyondLastLine: false,
          automaticLayout: true,
          autoClosingBrackets: true,
          autoClosingQuotes: true,
          autoIndent: true,
          autoClosingOvertype: true,
          autoSurround: true,
          suggest: true,
          renderIndentGuides: true,
          highlightActiveIndentGuide: true,
          codeLens: true,
        },
      }
    },
    watch: {
      input: function (val) {
        this.files = val
      },
    },
    mounted () {
      if (this.imageName !== null) {
        this.currentImageName = this.imageName.split('/')[1]
      }

      if (this.input !== null && this.input.length !== 0) {
        this.files = this.input
        this.currentTab = '0'
      }
    },
    methods: {
      addTab () {
        this.files.push({ name: `unnamed-file-${this.files.length + 1}`, content: '' })
        this.currentTab = (this.files.length - 1).toString()
        this.openEditFileDialog()
      },
      removeTab (targetName) {
        Vue.delete(this.files, parseInt(targetName))
        this.currentTab = (this.files.length - 1).toString()
      },
      openEditFileDialog () {
        const index = parseInt(this.currentTab)
        this.currentEditingFile = { id: index, name: this.files[index].name }
      },
      confirmEditDialog (e) {
        const index = parseInt(e.id), files = _.clone(this.files)

        files.splice(index, 1)

        if (files.map(file => file.name).includes(e.name)) {
          return this.$message({
            type: 'error',
            message: `A file named '${e.name}' already exists.`,
            offset: 36,
          })
        }

        Vue.set(this.files, index, { ...this.files[index], name: e.name })

        this.currentTab = index.toString()
        this.currentEditingFile = null
      },
      languageByFilename(filename) {
        const extension = filename.split('.').pop()
        switch (extension) {
          case 'Dockerfile':
            return 'dockerfile'
          case 'go':
            return 'go'
          case 'html':
            return 'html'
          case 'css':
            return 'css'
          case 'java':
            return 'java'
          case 'js':
            return 'javascript'
          case 'json':
            return 'json'
          case 'md':
            return 'markdown'
          case 'php':
            return 'php'
          case 'py':
            return 'python'
          case 'r':
            return 'r'
          case 'sh':
            return 'shell'
          case 'ts':
            return 'typescript'
          case 'yml':
          case 'yaml':
            return 'yaml'
          default:
            return 'plaintext'
        }
      },
      build () {
        this.isLoading = true

        const username = this.$store.getters['user/username'],
          imageName = slugifyImageName(this.currentImageName).toLowerCase()

        this.currentImageName = imageName

        apiService
          .buildDockerimage(`${username}/${imageName}`, this.files)
          .then(message => {
            this.$message({
              type: 'success',
              message: message,
              offset: 36,
            })
          })
          .catch(error => {
            this.$message({
              type: 'error',
              message: error,
              offset: 36,
            })
          })
          .finally(() => this.isLoading = false)
      },
    },
  }
</script>

<style scoped>
  .editor-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .editor-wrapper .el-tabs {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  .editor-wrapper .el-tabs .el-tabs__content .el-tab-pane,
  .editor {
    height: 100%;
  }

  .image-data-container {
    margin-bottom: 24px;
  }

  .editor-buttons-container {
    margin-bottom: 24px;
  }

  >>> .el-input-group__prepend {
    padding-right: 15px;
  }

  >>> .el-input-group__append {
    color: #67C23A; /* TODO: Get color from theme */
  }

  >>> .el-tabs__content {
    flex: 1 1 auto;
    padding: 16px 0;
    border: 1px solid #E4E7ED;
    overflow: unset;
  }

  >>> .el-tabs__header {
    border-bottom: none;
    margin-bottom: 0;
  }
</style>
