<template>
  <el-dialog
    title="Edit File Metadata"
    center
    :visible.sync="isVisible"
    @close="cancel">
    <el-form
      :model="form"
      size="small"
      label-position="top"
      @submit.native.prevent="confirm">
      <el-form-item label="Filename">
        <el-input v-model="form.name"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button @click="cancel">
          Cancel
        </el-button>
        <el-button
          type="primary"
          :disabled="!isValid"
          @click="confirm">
          Confirm
        </el-button>
      </el-form-item>
    </el-form>
  </el-dialog>
</template>
<script>
  export default {
    name: 'EditFileMetaDialog',
    props: {
      file: {
        type: Object,
        default: null,
      },
    },
    data () {
      return {
        isVisible: false,
        form: {
          name: '',
        },
        fileId: null,
      }
    },
    computed: {
      isValid() {
        return this.form.name !== ''
      },
    },
    watch: {
      file: function (val) {
        if(val !== null) {
          this.isVisible = true
          this.form.name = val.name
          this.fileId = val.id
        } else {
          this.isVisible = false
        }
      },
    },
    methods: {
      cancel () {
        this.form.name = ''
        this.isVisible = false
        this.$emit('cancel')
      },
      confirm () {
        if (!this.isValid) return

        this.$emit('confirm', {id: this.fileId, name: this.form.name})
      },
    },
  }
</script>
