<template>
  <app-side-wrapper
    v-loading="!isLoaded"
    :close-to="{ name: 'jobs-overview' }"
    :discard-warning="hasChanges">
    <div v-if="isLoaded">
      <h1>{{ job.name }}</h1>
      <el-tag size="small">
        Type: <b>Job</b>
      </el-tag>
      <el-tag
        size="small"
        :type="job.priority === 'default' ? 'info' : 'warning'">
        Priority: <b>{{ job.priority.toUpperCase() }}</b>
      </el-tag>
      <el-tabs
        v-model="activeTab"
        @tab-click="handleClick"
      >
        <el-tab-pane
          label="Details"
          name="details">
          <el-form
            :model="updateForm"
            label-position="top"
            size="small">
            <el-form-item label="ID">
              <el-input
                :value="job.id"
                disabled />
            </el-form-item>
            <el-form-item label="Name">
              <el-input
                v-model="updateForm.name"
                :disabled="!isEditable || isUpdating" />
            </el-form-item>
            <el-form-item label="Project">
              <el-input
                v-model="updateForm.project"
                placeholder="Project label"
                :disabled="isUpdating" />
            </el-form-item>
            <el-form-item
              v-if="$userIsAdmin"
              label="Priority">
              <el-select
                v-model="updateForm.priority"
                :value="updateForm.priority"
                :disabled="isUpdating">
                <el-option
                  label="Default"
                  value="default">
                </el-option>
                <el-option
                  label="High"
                  value="high">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="Environment Variables">
              <el-table
                :show-header="false"
                :data="environmentVariables"
                empty-text="None yet.">
                <el-table-column
                  label="Name"
                  prop="name">
                  <template slot-scope="scope">
                    <el-input
                      v-if="activeEnvironmentVariable.index === scope.$index"
                      v-model="activeEnvironmentVariable.name"
                      size="mini"
                      placeholder="Name"
                      :disabled="isUpdating" />
                    <b
                      v-else
                      class="environment-variables-name">
                      <i v-if="!scope.row.name">Name</i>
                      <span v-else>{{ scope.row.name }}</span>
                    </b>
                  </template>
                </el-table-column>
                <el-table-column
                  label="Value"
                  prop="value">
                  <template slot-scope="scope">
                    <el-input
                      v-if="activeEnvironmentVariable.index === scope.$index"
                      v-model="activeEnvironmentVariable.value"
                      size="mini"
                      placeholder="Value"
                      :disabled="isUpdating" />
                    <span
                      v-else
                      class="environment-variables-value">
                      <i v-if="!scope.row.value">Value</i>
                      <span v-else>{{ scope.row.value }}</span>
                    </span>
                  </template>
                </el-table-column>
                <el-table-column align="right">
                  <template slot-scope="scope">
                    <el-button
                      v-if="activeEnvironmentVariable.index === scope.$index"
                      icon="el-icon-check"
                      size="mini"
                      type="success"
                      :disabled="!isEditable || isUpdating || (!activeEnvironmentVariable.name || !activeEnvironmentVariable.value)"
                      @click="saveEnvironmentVariable" />
                    <el-button
                      v-else
                      icon="el-icon-edit"
                      size="mini"
                      plain
                      :disabled="!isEditable || isUpdating || activeEnvironmentVariable.index !== null"
                      @click="editEnvironmentVariable(scope)" />
                    <el-button
                      icon="el-icon-delete"
                      size="mini"
                      type="danger"
                      plain
                      :disabled="!isEditable || isUpdating || (activeEnvironmentVariable.index !== scope.$index && activeEnvironmentVariable.index !== null)"
                      @click="deleteEnvironmentVariable(scope)" />
                  </template>
                </el-table-column>
              </el-table>
              <div class="environment-variables-actions">
                <el-button
                  size="mini"
                  type="primary"
                  plain
                  :disabled="!isEditable || activeEnvironmentVariable.index !== null"
                  @click="addEnvironmentVariable()">
                  Add
                </el-button>
              </div>
            </el-form-item>
            <el-form-item>
              <el-table
                :show-header="false"
                :data="timesTable">
                <el-table-column prop="name" />
                <el-table-column prop="time" />
              </el-table>
            </el-form-item>
            <el-tag
              v-if="!isEditable"
              effect="plain"
              type="warning">
              This Job is currently {{ job.status.toLowerCase() }} and cannot be modified.
            </el-tag>
            <el-form-item>
              <el-button @click="setFormData()">
                Reset
              </el-button>
              <el-button
                :disabled="!isEditable || !hasChanges || activeEnvironmentVariable.index !== null || !isAllowedToChange"
                :loading="isUpdating"
                type="primary"
                @click="onUpdate">
                {{ isUpdating ? 'Updating...' : 'Update' }}
              </el-button>
              <el-tag
                v-if="!isAllowedToChange"
                effect="plain"
                type="warning">
                User does not own the Job {{ job.name }}.
              </el-tag>
            </el-form-item>
          </el-form>
        </el-tab-pane>
        <el-tab-pane
          label="Logs"
          name="logs">
          <job-details-logs
            :id="id"
            ref="logs">
          </job-details-logs>
        </el-tab-pane>
      </el-tabs>
    </div>
  </app-side-wrapper>
</template>

<script>
  import _ from 'underscore'
  import AppSideWrapper from '@/components/layout/AppSideWrapper'
  import JobDetailsLogs from '@/components/jobs/JobDetailsLogs'
  import dateFormat from 'dateformat'
  import * as apiService from '@/services/api.service'
  import { mapGetters } from 'vuex'
  import { JobStatusTypes } from '@/globals'

  export default {
    components: { AppSideWrapper, JobDetailsLogs },
    data: function () {
      return {
        activeTab: 'details',
        isUpdating: false,
        updateForm: {
          name: '',
          priority: '',
          project: '',
        },
        environmentVariables: [],
        activeEnvironmentVariable: {
          index: null,
          name: null,
          value: null,
        },
      }
    },
    computed: {
      ...mapGetters('api', ['jobWithId']),
      id () {
        return parseInt(this.$route.params.id)
      },
      job () {
        const job = this.jobWithId(this.id)
        if (job === null) return null

        return {
          id: job.id,
          name: job.name,
          status: job.status,
          priority: job.priority,
          project: job.project,
          user: job.userId,
          times: {
            createTime: job.meta.createTime,
            pendingTime: job.meta.pendingTime,
            startTime: job.meta.startTime,
            endTime: job.meta.endTime,
          },
          environmentVariables: job.environmentVariables,
        }
      },
      isLoaded () {
        return this.job !== null
      },
      isEditable () {
        return this.job.status !== JobStatusTypes.PENDING.id &&
          this.job.status !== JobStatusTypes.STARTING.id &&
          this.job.status !== JobStatusTypes.RUNNING.id &&
          this.job.status !== JobStatusTypes.CANCELLING.id
      },
      hasChanges () {
        if (!this.isLoaded) return false

        return (
          !_.isEqual(this.updateForm.project, this.job.project) ||
          !_.isEqual(this.updateForm.name, this.job.name) ||
          !_.isEqual(this.updateForm.priority, this.job.priority) ||
          !_.isEqual(this.environmentVariables, this.job.environmentVariables)
        )
      },
      isAllowedToChange () {
        const username = this.$store.getters['user/username']

        return this.job.user === username
      },
      timesTable () {
        let times = []

        // TODO: Put date format into any config
        if (this.job.times.createTime)
          times.push({name: 'Created At', time: dateFormat(this.job.times.createTime, 'dd.mm.yyyy HH:MM:ss') })
        if (this.job.times.pendingTime)
          times.push({name: 'Pended At', time: dateFormat(this.job.times.pendingTime, 'dd.mm.yyyy HH:MM:ss') })
        if (this.job.times.startTime)
          times.push({name: 'Started At', time: dateFormat(this.job.times.startTime, 'dd.mm.yyyy HH:MM:ss') })
        if (this.job.times.endTime)
          times.push({name: 'Ended At', time: dateFormat(this.job.times.endTime, 'dd.mm.yyyy HH:MM:ss') })

        return times
      },
    },
    watch: {
      job: {
        handler (job, oldJob) {
          if ((oldJob === null || oldJob === undefined) && job !== null) this.setFormData()
          if (oldJob === null && job === null) this.fetchJob()
        },
        deep: true,
        immediate: true,
      },
    },
    mounted () {
      this.fetchJob()
    },
    methods: {
      fetchJob () {
        apiService
          .readOneJob(this.id)
          .then(() => this.setFormData())
          .catch(error => {
            this.$message({
              type: 'error',
              message: error,
              offset: 36,
            })
            this.$router.push({ name: 'jobs-overview' })
          })
      },
      setFormData () {
        if (!this.isLoaded) return
        this.updateForm.name = _.clone(this.job.name)
        this.updateForm.priority = _.clone(this.job.priority)
        this.updateForm.project = _.clone(this.job.project)
        this.environmentVariables = _.clone(this.job.environmentVariables)
        this.activeEnvironmentVariable = {index: null, name: null, value: null}
      },
      setActiveEnvironmentVariable(index) {
        this.activeEnvironmentVariable.index = index
        if (index === null) {
          this.activeEnvironmentVariable.name = null
          this.activeEnvironmentVariable.value = null
        } else {
          this.activeEnvironmentVariable.name = this.environmentVariables[this.activeEnvironmentVariable.index].name
          this.activeEnvironmentVariable.value = this.environmentVariables[this.activeEnvironmentVariable.index].value
        }
      },
      addEnvironmentVariable() {
        this.environmentVariables.push({name: '', value: ''})
        this.setActiveEnvironmentVariable(this.environmentVariables.length - 1)
      },
      saveEnvironmentVariable() {
        this.$set(this.environmentVariables, this.activeEnvironmentVariable.index, {
          name: this.activeEnvironmentVariable.name,
          value: this.activeEnvironmentVariable.value,
        })
        this.setActiveEnvironmentVariable(null)
      },
      editEnvironmentVariable(scope) {
        this.setActiveEnvironmentVariable(scope.$index)
      },
      deleteEnvironmentVariable(scope) {
        this.$delete(this.environmentVariables, scope.$index)
        this.setActiveEnvironmentVariable(null)
      },
      handleClick(tab) {
        if (tab.index === '1') {
          this.$refs.logs.refresh()
        }
      },
      onUpdate () {
        this.isUpdating = true
        apiService
          .updateJob({
            id: this.job.id,
            name: this.updateForm.name,
            project: this.updateForm.project,
            priority: this.updateForm.priority,
            environmentVariables: this.environmentVariables,
          })
          .then(() => this.$message({
            type: 'success',
            message: 'Update completed',
            offset: 36,
          }))
          .catch(error => this.$message({
            type: 'error',
            message: error,
            offset: 36,
          }))
          .finally(() => {
            this.setFormData()
            this.isUpdating = false
          })
      },
    },
  }
</script>

<style scoped>
  h1 {
    margin-bottom: 8px;
  }

  .el-table::before {
    height: 0;
  }

  >>> .el-table__body {
    width: 100% !important;
  }

  >>> .el-table__body colgroup {
    display: none !important;
  }

  >>> .el-table__body tr {
    display: flex;
  }

  >>> .el-table__body tr:hover > td {
    background-color: #f7f7f7 !important;
  }

  >>> .el-table__body td {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
  }

  >>> .el-table__body td.is-right {
    flex: 0 0 auto;
  }

  >>> .el-table, .el-table th,
  >>> .el-table tr {
    background-color: transparent;
  }

  >>> .el-tag {
    margin-bottom: 16px;
    margin-right: 8px;
  }

  >>> .el-form--label-top .el-form-item__label {
    padding: 0;
  }

  >>> .el-table__empty-block {
    min-height: 0;border-bottom: 1px solid #EBEEF5;
  }

  >>> .el-table__empty-text {
    line-height: 52px;
  }

  .environment-variables-name, .environment-variables-value {
    line-height: 28px;
  }

  .environment-variables-actions {
    margin-top: 10px;
  }

  .environment-variables-actions .el-button {
    float: right;
    margin-right: 10px;
  }
</style>
