<template>
  <app-main-wrapper>
    <template slot="title">
      Jobs
    </template>
    <div v-loading="!isLoaded">
      <div class="overview-options-container">
        <el-dropdown
          style="margin-right: 8px"
          @command="onChangeSelectedFiltering">
          <el-button
            type="primary"
            size="small"
            round>
            {{ selectedFiltering.name }}
            <i class="el-icon-arrow-down el-icon--right"></i>
          </el-button>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item
              v-for="filteringType in $jobStatusFilteringTypes"
              :key="filteringType.id"
              :disabled="pagination.isLoading"
              :command="filteringType.id"
              :divided="filteringType === $jobStatusFilteringTypes.PENDING">
              <b v-if="filteringType === selectedFiltering">{{ filteringType.name }}</b>
              <span v-else>{{ filteringType.name }}</span>
            </el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
        <el-dropdown
          @command="onChangeSelectedSorting">
          <el-button
            type="primary"
            size="small"
            round>
            Sort By: <b>{{ selectedSorting.name }}</b>
            <i class="el-icon-arrow-down el-icon--right"></i>
          </el-button>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item
              v-for="sortingType in $jobSortingTypes"
              :key="sortingType.id"
              :disabled="pagination.isLoading"
              :command="sortingType.id">
              <b v-if="sortingType === selectedSorting">{{ sortingType.name }}</b>
              <span v-else>{{ sortingType.name }}</span>
            </el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
      <div v-if="hasJobs">
        <job-card
          v-for="job in jobs"
          :id="job.id"
          :key="job.id"
          :user="job.user"
          :image="job.image"
          :name="job.name"
          :project="job.project"
          :status="job.status"
          :is-current="job.isCurrent"
          @cancel-job="onCancelJob($event)"
          @delete-job="onDeleteJob($event)"
          @start-job="onStartJob($event)"
          @restart-job="onRestartJob($event)"
          @cancel-job-admin="onCancelJobAdmin($event)"
        />
        <el-button
          :loading="pagination.isLoading"
          :disabled="!pagination.hasMore"
          class="pagination-load-more-button"
          :icon="pagination.hasMore ? 'el-icon-caret-bottom' : ''"
          plain
          :type="pagination.hasMore ? 'primary' : 'info'"
          @click="paginationLoadMore">
          {{ pagination.hasMore ? 'Load more' : 'No more available' }}
        </el-button>
      </div>
      <el-alert
        v-else-if="isLoaded"
        :closable="false"
        :title="noJobsMessage"
        show-icon
        type="info" />
    </div>
    <CancelJobReasonDialog
      :input="cancelJobAdmin"
      @cancel="cancelJobAdmin = null" />
  </app-main-wrapper>
</template>

<script>
  import _ from 'underscore'
  import $store from '@/store'
  import * as apiService from '@/services/api.service'
  import AppMainWrapper from '@/components/layout/AppMainWrapper'
  import JobCard from '@/components/jobs/JobCard'
  import CancelJobReasonDialog from '@/components/admin/CancelJobReasonDialog'
  import { mapActions, mapGetters } from 'vuex'
  import { JobStatusTypes, JobStatusFilteringTypes, JobSortingTypes } from '@/globals'

  export default {
    components: { AppMainWrapper, JobCard, CancelJobReasonDialog },
    data: function () {
      return {
        cancelJobAdmin: null,
        message: null,
        pagination: {
          isLoading: false,
          hasMore: false,
          page: 1,
          size: 10,
        },
      }
    },
    computed: {
      ...mapGetters('app', {
        selectedFiltering: 'selectedJobsOverviewFiltering',
        selectedSorting: 'selectedJobsOverviewSorting',
      }),
      ...mapGetters('api', ['allJobs']),
      jobs () {
        let jobs = this.allJobs

        if (jobs === null) return null

        jobs = jobs.map(job => {
          return {
            id: job.id,
            name: job.name,
            user: job.userId,
            image: job.imageId,
            status: job.status,
            createTime: job.meta.createTime,
            project: job.project,
            isCurrent: job.current,
          }
        }).filter(job => {
          if (this.selectedFiltering === JobStatusFilteringTypes.ALL) return true

          return job.status === this.selectedFiltering.id
        }).sort((a, b) => {
          const property = this.selectedSorting.property,
            transform = this.selectedSorting.transform,
            direction = this.selectedSorting.direction,
            value = direction === 'DESC' ? 1 : direction === 'ASC' ? -1 : 0

          if (transform === null) {
            if(a[property] < b[property]) return value
            if(a[property] > b[property]) return -value
          } else {
            if(transform(a[property]) < transform(b[property])) return value
            if(transform(a[property]) > transform(b[property])) return -value
          }

          return 0
        })

        return jobs
      },
      isLoaded () {
        return this.jobs !== null
      },
      hasJobs () {
        return this.isLoaded && this.jobs.length > 0
      },
      noJobsMessage () {
        if (this.selectedFiltering === JobStatusFilteringTypes.ALL) {
          return 'There are no Job yet. You can go and create one from an Image.'
        } else {
          return `There are no ${this.selectedFiltering.name} yet.`
        }
      },
    },
    watch: {
      jobs: {
        handler (jobs, oldJobs) {
          if (jobs === null || _.isEqual(jobs, oldJobs)) return
          this.watchJobs(jobs.map(job => job.id))
        },
        deep: true,
        immediate: true,
      },
    },
    mounted () {
      this.fetchJobs().then(() => {
        if (this.jobs === null) return
        this.pagination.page = Math.ceil(this.jobs.length / this.pagination.size)
        this.calculatePaginationHasMore()
      })
    },
    methods: {
      ...mapActions({
        selectFiltering: 'app/selectJobsOverviewFiltering',
        selectSorting: 'app/selectJobsOverviewSorting',
      }),
      ...mapActions('app', ['watchJobs']),
      async fetchJobs ({ reset = false } = {}) {
        if (reset) {
          const options = {}
          if (this.$route.name === 'jobs-details') options.exclude = parseInt(this.$route.params.id)

          await apiService.resetJobs(options)
        }

        await apiService
          .readAllJobs({
            status: this.selectedFiltering,
            page: this.pagination.page,
            size: this.pagination.size,
            sort: this.selectedSorting.id,
          }).catch(error => this.$message({
            type: 'error',
            message: error,
            offset: 36,
          }))
      },
      onChangeSelectedFiltering (status) {
        const filteringType = JobStatusFilteringTypes[status]
        if (this.selectedFiltering === filteringType) return
        this.selectFiltering(filteringType)
        this.resetPagination()
        this.fetchJobs({ reset: true }).then(this.calculatePaginationHasMore)
      },
      onChangeSelectedSorting (sorting) {
        const sortingType = JobSortingTypes[sorting.toUpperCase()]
        if (this.selectedSorting === sortingType) return
        this.selectSorting(sortingType)
        this.resetPagination()
        this.fetchJobs({ reset: true }).then(this.calculatePaginationHasMore)
      },
      onStartJob({ id, next }) {
        let job = $store.getters['api/jobWithId'](id)

        if (job === null) return this.$message({
          type: 'error',
          message: 'Unable to find the Job. Please reload the site.',
          offset: 36,
        })

        if (job.status !== JobStatusTypes.NONE.id) {
          this.message = this.$message({
            type: 'warning',
            dangerouslyUseHTMLString: true,
            message:
              '<strong>We cannot start this Job.</strong><br /><br />Job status needs to be None to run it.',
            offset: 36,
            duration: 0,
            showClose: true,
          })

          return next()
        }

        this.startJob({ id: job.id, next })
      },
      onRestartJob({ id, next }) {
        let job = $store.getters['api/jobWithId'](id)

        if (job === null) return this.$message({
          type: 'error',
          message: 'Unable to find the Job. Please reload the site.',
          offset: 36,
        })

        if (job.status === JobStatusTypes.RUNNING.id || job.status === JobStatusTypes.NONE.id) {
          this.message = this.$message({
            type: 'warning',
            dangerouslyUseHTMLString: true,
            message:
              '<strong>We cannot restart this Job.</strong><br /><br />Job status needs to be Succeeded, Failed or Canceled to rerun it.',
            offset: 36,
            duration: 0,
            showClose: true,
          })

          return next()
        }

        this.startJob({ id: job.id, next, reload: true })
      },
      onCancelJob({ id, next }) {
        const job = $store.getters['api/jobWithId'](id)

        if (job === null) return this.$message({
          type: 'error',
          message: 'Unable to find the Job. Please reload the site.',
          offset: 36,
        })

        if (job.status !== JobStatusTypes.RUNNING.id) {
          this.message = this.$message({
            type: 'warning',
            dangerouslyUseHTMLString: true,
            message:
              '<strong>We cannot cancel this Job.</strong><br /><br />A Job needs to be running to cancel it.',
            offset: 36,
            duration: 0,
            showClose: true,
          })

          return next()
        }

        apiService
          .cancelJob(job.id)
          .then(async () => {
            this.$message({
              type: 'success',
              message: 'The Job is cancelling',
              offset: 36,
            })

            await $store.dispatch('api/updateJob', {
              id: job.id,
              status: JobStatusTypes.CANCELLING.id,
            })
          })
          .catch(error => this.$message({
            type: 'error',
            message: error,
            offset: 36,
          }))
          .finally(() => next())
      },
      onCancelJobAdmin({ id, next }) {
        this.cancelJobAdmin = { id, next }
      },
      onDeleteJob ({ id, next, done }) {
        const job = $store.getters['api/jobWithId'](id)

        if (job === null) return this.$message({
          type: 'error',
          message: 'Unable to find the Job. Please reload the site.',
          offset: 36,
        })

        // TODO: Put these into globals and .env vars
        if ([JobStatusFilteringTypes.PENDING.id, JobStatusFilteringTypes.RUNNING.id].includes(job.status)) {
          this.message = this.$message({
            type: 'warning',
            dangerouslyUseHTMLString: true,
            message: '<strong>We cannot delete this Job.</strong><br /><br />It is either pending or running.',
            offset: 36,
            duration: 0,
            showClose: true,
          })

          return next()
        }

        this.$confirm('This will permanently delete this Job. Continue?', 'Are you sure?', {
          type: 'warning',
          confirmButtonText: 'Yes',
          cancelButtonText: 'Cancel',
          center: true,
        }).then(() => {
          apiService
            .deleteJob(job.id)
            .then(() => {
              this.$message({
                type: 'success',
                message: 'The Job was deleted successfully',
                offset: 36,
              })

              done()
            })
            .catch(error => this.$message({
              type: 'error',
              message: error,
              offset: 36,
            }))
            .finally(() => next())
          })
          .catch(() => next())
      },
      startJob ({ id, next, restart = false }) {
        apiService
          .startJob(id)
          .then(async () => {
            this.$message({
              type: 'success',
              message: `The Job was ${restart ? 'restarted' : 'started'} successfully`,
              offset: 36,
            })

            await $store.dispatch('api/updateJob', {
              id: id,
              status: JobStatusTypes.STARTING.id,
            })
          })
          .catch(error => this.$message({
            type: 'error',
            message: error,
            offset: 36,
          }))
          .then(() => apiService.refreshJobStatuses([id]))
          .finally(() => next())
      },
      resetPagination () {
        this.pagination.hasMore = true
        this.pagination.page = 1
      },
      calculatePaginationHasMore () {
        if (this.jobs === null) return
        this.pagination.hasMore = this.pagination.page * this.pagination.size <= this.jobs.length
      },
      paginationLoadMore () {
        this.pagination.isLoading = true
        this.pagination.page++
        this.fetchJobs().then(() => {
          this.pagination.isLoading = false
          this.calculatePaginationHasMore()
        })
      },
    },
    beforeRouteEnter (to, from, next) {
      if (to.name === 'jobs-details' || from.name === 'jobs-details') return next()
      apiService.resetJobs().finally(() => next())
    },
    beforeRouteLeave (to, from, next) {
      if (this.message) this.message.close()
      next()
    },
  }
</script>

<style scoped>
  .overview-options-container {
    margin-bottom: 16px;
  }

  .pagination-load-more-button {
    width: 100%;
  }
</style>
