<template>
  <app-main-wrapper>
    <template slot="title">
      Build Dockerimage
    </template>
    <div style="height: calc(100vh - 200px)">
      <dockerimage-editor
        :input="editorData"
        :nameable="true" />
    </div>
  </app-main-wrapper>
</template>

<script>
  import AppMainWrapper from '@/components/layout/AppMainWrapper'
  import DockerimageEditor from '@/components/editor/DockerimageEditor'

  export default {
    components: { AppMainWrapper, DockerimageEditor },
    data: function () {
      return {
        editorData: [],
        templates: {
          js: [
            {name: 'Dockerfile', content: 'FROM node:alpine\nCOPY . .\nRUN yarn install\nENTRYPOINT ["node", "app.js"]'},
            {name: 'package.json', content: '{\n\n}'},
            {name: 'app.js', content: 'console.log("Hello World")'},
          ],
          python: [
            {name: 'Dockerfile', content: 'FROM python:3.7-alpine\nWORKDIR /app\nCOPY . .\nRUN chmod +x install.sh\nRUN ./install.sh\nCMD python code.py'},
            {name: 'install.sh', content:'# pip install <packagename>'},
            {name: 'code.py', content: 'print("Hello World")'},
          ],
          go: [
            {name: 'Dockerfile', content: 'FROM golang:latest\nRUN mkdir /app\nADD . /app/\nWORKDIR /app\nRUN go build -o main .\nCMD ["/app/main"]'},
            {name: 'main.go', content: 'package main\n\nimport "fmt"\n\nfunc main() {\n    fmt.Println("hello world")\n}'},
          ],
          blank: [
            {name: 'Dockerfile', content: ''},
          ],
        },
      }
    },
    computed: {
      templateKey () {
        if (!this.$route.params.key) return null

        return decodeURIComponent(this.$route.params.key)
      },
    },
    mounted () {
      this.editorData = this.templates[this.templateKey] || this.templates.blank
    },
  }
</script>
