<template>
  <app-main-wrapper>
    <template slot="title">
      Choose a Template
    </template>
    <el-card
      v-for="(item, key) in templates"
      :key="key"
      class="template-card"
      shadow="never">
      <div slot="header">
        <b>{{ item.title }}</b>
        <el-button
          :loading="isLoadingTemplate === key"
          :disabled="isLoadingTemplate !== null"
          icon="el-icon-right"
          plain
          round
          size="mini"
          type="primary"
          @click="onSelectedTemplate(key)">
          Select
        </el-button>
      </div>
      <el-row :gutter="16">
        <el-col
          :xs="item.logo ? 4 : 0"
          :sm="item.logo ? 2 : 0">
          <img
            width="100%"
            :src="item.logo" />
        </el-col>
        <el-col
          :xs="item.logo ? 20 : 24"
          :sm="item.logo ? 22 : 24">
          "<i>{{ item.description }}</i>"
          <span v-if="item.url">
            <br><br>
            &mdash;&nbsp;<a
              :href="item.url"
              target="_blank">{{ item.url }}</a>
          </span>
        </el-col>
      </el-row>
    </el-card>
  </app-main-wrapper>
</template>

<script>
  import AppMainWrapper from '@/components/layout/AppMainWrapper'

  export default {
    components: { AppMainWrapper },
    data () {
      return {
        isLoadingTemplate: null,
        templates: {
          blank: {
            title: 'Blank',
            description: 'This is a blank template. It\'s up to you what kind of magic you build with it.',
          },
          js: {
            title: 'JavaScript',
            description: 'JavaScript often abbreviated as JS, is a high-level, just-in-time compiled, multi-paradigm programming language that conforms to the ECMAScript specification. JavaScript has curly-bracket syntax, dynamic typing, prototype-based object-orientation, and first-class functions.',
            url: 'https://en.wikipedia.org/wiki/JavaScript',
            logo: 'https://upload.wikimedia.org/wikipedia/commons/9/99/Unofficial_JavaScript_logo_2.svg',
          },
          python: {
            title: 'Python',
            description: 'Python is an interpreted, high-level, general-purpose programming language. Created by Guido van Rossum and first released in 1991, Python\'s design philosophy emphasizes code readability with its notable use of significant whitespace. Its language constructs and object-oriented approach aim to help programmers write clear, logical code for small and large-scale projects.',
            url: 'https://en.wikipedia.org/wiki/Python_(programming_language)',
            logo: 'https://www.python.org/static/community_logos/python-powered-h.svg',
          },
          go: {
            title: 'Go',
            description: 'Go, also known as Golang, is a statically typed, compiled programming language designed at Google by Robert Griesemer, Rob Pike, and Ken Thompson. Go is syntactically similar to C, but with memory safety, garbage collection, structural typing,[6] and CSP-style concurrency.',
            url: 'https://en.wikipedia.org/wiki/Go_(programming_language)',
            logo: 'https://blog.golang.org/go-brand/Go-Logo/SVG/Go-Logo_LightBlue.svg',
          },
        },
      }
    },
    methods: {
      onSelectedTemplate (name) {
        this.isLoadingTemplate = name

        setTimeout(() => this.$router.push({
          name: 'images-build-dockerimage-template',
          params: { key: encodeURIComponent(name) },
        }), 500)
      },
    },
  }
</script>
<style scoped>
  .template-card {
    margin-bottom: 16px;
  }

  .template-card a {
    color: #001328;
    text-decoration: none;
  }

  >>> .el-card__header {
    background-color: #fafcff;
  }

  >>> .el-card__header b {
    line-height: 28px;
  }

  >>> .el-card__header .el-button {
    float: right;
  }
</style>

