<template>
  <app-main-wrapper>
    <template slot="title">
      Edit Dockerimage
    </template>
    <div style="height: calc(100vh - 156px)">
      <dockerimage-editor
        :input="files"
        :nameable="false"
        :image-name="id" />
    </div>
  </app-main-wrapper>
</template>

<script>
  import * as apiService from '@/services/api.service'
  import AppMainWrapper from '@/components/layout/AppMainWrapper'
  import DockerimageEditor from '@/components/editor/DockerimageEditor'

  export default {
    components: {
      AppMainWrapper,
      DockerimageEditor,
    },
    data() {
      return {
        files: null,
      }
    },
    computed: {
      id() {
        return decodeURIComponent(this.$route.params.id)
      },
    },
    created() {
      apiService.readDockerimageSource(this.id)
        .then(files => this.files = files)
        .catch(error => {
          this.$message({
            type: 'error',
            message: error,
            offset: 36,
          })
      })
    },
  }
</script>

