<template>
  <app-main-wrapper>
    <template slot="title">
      Images
    </template>
    <div v-loading="!isLoaded">
      <div class="overview-options-container">
        <el-dropdown
          @command="onChangeSelectedDockerimagesSorting">
          <el-button
            type="primary"
            size="small"
            round>
            Sort By: <b>{{ selectedDockerimagesSorting.name }}</b>
            <i class="el-icon-arrow-down el-icon--right"></i>
          </el-button>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item
              v-for="sortingType in $imageSortingTypes"
              :key="sortingType.id"
              :disabled="pagination.isLoading"
              :command="sortingType.id">
              <b v-if="sortingType === selectedDockerimagesSorting">{{ sortingType.name }}</b>
              <span v-else>{{ sortingType.name }}</span>
            </el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
      <div v-if="hasDockerimages">
        <dockerimage-card
          v-for="image in images"
          :id="image.id"
          :key="image.id"
          :jobs="image.jobs"
          :has-source="image.hasSource"
          :name="image.name"
          :user="image.user"
          :project="image.project"
          @delete-image="onDeleteImage($event)"
          @create-job="createJobForImage = $event.id" />
        <el-button
          :loading="pagination.isLoading"
          :disabled="!pagination.hasMore"
          class="pagination-load-more-button"
          :icon="pagination.hasMore ? 'el-icon-caret-bottom' : ''"
          plain
          :type="pagination.hasMore ? 'primary' : 'info'"
          @click="paginationLoadMore">
          {{ pagination.hasMore ? 'Load more' : 'No more available' }}
        </el-button>
      </div>
      <el-alert
        v-else-if="isLoaded"
        :closable="false"
        show-icon
        title="There are no Dockerimages yet. You can go and upload one."
        type="info" />
      <create-job-dialog
        :image-id="createJobForImage"
        @cancel="createJobForImage = null" />
    </div>
  </app-main-wrapper>
</template>

<script>
  import _ from 'underscore'
  import * as apiService from '@/services/api.service'
  import AppMainWrapper from '@/components/layout/AppMainWrapper'
  import DockerimageCard from '@/components/images/DockerimageCard'
  import CreateJobDialog from '@/components/jobs/CreateJobDialog'
  import $store from '@/store'
  import { mapGetters, mapActions } from 'vuex'
  import { ImageSortingTypes, JobStatusFilteringTypes } from '@/globals'

  export default {
    components: {
      AppMainWrapper,
      CreateJobDialog,
      DockerimageCard,
    },
    data: function () {
      return {
        createJobForImage: null,
        message: null,
        pagination: {
          isLoading: false,
          hasMore: false,
          page: 1,
          size: 10,
        },
      }
    },
    computed: {
      ...mapGetters('app', {
        selectedDockerimagesSorting: 'selectedDockerimagesOverviewSorting',
      }),
      ...mapGetters('api', ['allDockerimages']),
      images () {
        let images = this.allDockerimages

        if (images === null) return null

        images = images.map(image => {
          return {
            id: image.id,
            name: image.name,
            user: image.userId,
            jobs: image.jobs,
            uploadTime: image.meta.uploadTime,
            hasSource: image.hasSourceArchive,
            project: image.project,
          }
        }).sort((a, b) => {
          const property = this.selectedDockerimagesSorting.property,
            transform = this.selectedDockerimagesSorting.transform,
            direction = this.selectedDockerimagesSorting.direction,
            value = direction === 'DESC' ? 1 : direction === 'ASC' ? -1 : 0

          if (transform === null) {
            if(a[property] < b[property]) return value
            if(a[property] > b[property]) return -value
          } else {
            if(transform(a[property]) < transform(b[property])) return value
            if(transform(a[property]) > transform(b[property])) return -value
          }

          return 0
        })

        return images
      },
      isLoaded () {
        return this.allDockerimages !== null
      },
      hasDockerimages () {
        return this.isLoaded && this.allDockerimages.length > 0
      },
    },
    watch: {
      images: {
        handler (images, oldImages) {
          if (images === null || _.isEqual(images, oldImages)) return
          this.watchJobs(images.flatMap(image => image.jobs.map(job => job.id)))
        },
        deep: true,
        immediate: true,
      },
    },
    mounted () {
      this.fetchImages().then(() => {
        this.pagination.page = Math.ceil(this.images.length / this.pagination.size)
        this.calculatePaginationHasMore()
      })
    },
    methods: {
      ...mapActions('app', ['watchJobs']),
      ...mapActions({
        selectDockerimagesSorting: 'app/selectDockerimagesOverviewSorting',
      }),
      async fetchImages ({ reset = false } = {}) {
        if (reset) {
          const options = {}
          if (this.$route.name === 'images-details') options.exclude = parseInt(this.$route.params.id)

          await apiService.resetDockerimages(options)
        }

        await apiService.readAllDockerimages({
          page: this.pagination.page,
          size: this.pagination.size,
          sort: this.selectedDockerimagesSorting.id,
        }).catch(error => this.$message({
          type: 'error',
          message: error,
          offset: 36,
        }))
      },
      onChangeSelectedDockerimagesSorting (sorting) {
        const sortingType = ImageSortingTypes[sorting.toUpperCase()]
        if (this.selectedSorting === sortingType) return
        this.selectDockerimagesSorting(sortingType)
        this.resetPagination()
        this.fetchImages({ reset: true }).then(this.calculatePaginationHasMore)
      },
      onDeleteImage ({ id, next, done }) {
        const image = $store.getters['api/dockerimageWithId'](id)

        if (image === null) return this.$message({
          type: 'error',
          message: 'Unable to find the Image. Please reload the site.',
          offset: 36,
        })

        if (image.jobs.some(job => [JobStatusFilteringTypes.PENDING.id, JobStatusFilteringTypes.RUNNING.id].includes(job.status))) {
          this.message = this.$message({
            type: 'warning',
            dangerouslyUseHTMLString: true,
            message: `<strong>We cannot delete this Dockerimage.</strong><br /><br />
                It has at least 1 derived Job pending or running.`,
            offset: 36,
            duration: 0,
            showClose: true,
          })

          return next()
        }

        this.$confirm('This will permanently delete this Dockerimage and its derived Jobs. Continue?', 'Are you sure?', {
          type: 'warning',
          confirmButtonText: 'Yes',
          cancelButtonText: 'Cancel',
          center: true,
        })
          .then(() => {
            apiService
              .deleteDockerimage(image.id)
              .then(() => {
                this.$message({
                  type: 'success',
                  message: 'Delete completed',
                  offset: 36,
                })
                next()
                done()
              })
              .catch(error => this.$message({
                type: 'error',
                message: error,
                offset: 36,
              }))
          })
          .catch(() => next())
      },
      resetPagination () {
        this.pagination.hasMore = true
        this.pagination.page = 1
      },
      calculatePaginationHasMore () {
        if (this.images === null) return
        this.pagination.hasMore = this.pagination.page * this.pagination.size <= this.images.length
      },
      paginationLoadMore () {
        this.pagination.isLoading = true
        this.pagination.page++
        this.fetchImages().then(() => {
          this.pagination.isLoading = false
          this.calculatePaginationHasMore()
        })
      },
    },
    beforeRouteEnter (to, from, next) {
      if (to.name === 'images-details' || from.name === 'images-details') return next()
      apiService.resetDockerimages().then(() => next())
    },
    beforeRouteLeave (to, from, next) {
      if (this.message) this.message.close()
      next()
    },
  }
</script>

<style scoped>
  .el-collapse,
  >>> .el-collapse-item__header,
  >>> .el-collapse-item__wrap {
    border: 0;
  }

  >>> .el-collapse-item__content {
    padding: 0;
  }

  .overview-options-container {
    margin-bottom: 16px;
  }

  .pagination-load-more-button {
    width: 100%;
  }
</style>
