<template>
  <app-side-wrapper
    v-loading="!isLoaded"
    :close-to="{ name: 'images-overview' }"
    :discard-warning="hasChanges">
    <div v-if="isLoaded">
      <h1>{{ image.name }}</h1>
      <el-tag size="small">
        Type: <b>Dockerimage</b>
      </el-tag>
      <el-form
        :model="updateForm"
        label-position="top"
        size="small">
        <el-form-item label="ID">
          <el-input
            :value="image.id"
            disabled />
        </el-form-item>
        <el-form-item label="Name">
          <el-input
            v-model="updateForm.name"
            :disabled="isUpdating" />
        </el-form-item>
        <el-form-item label="Project">
          <el-input
            v-model="updateForm.project"
            :disabled="isUpdating" />
        </el-form-item>
        <el-tag
          v-if="!isAllowedToChange"
          effect="plain"
          type="warning">
          User does not own the Image {{ image.name }}.
        </el-tag>
        <el-form-item>
          <el-button @click="setFormData()">
            Reset
          </el-button>
          <el-button
            :disabled="!hasChanges || !isAllowedToChange"
            :loading="isUpdating"
            type="primary"
            @click="onUpdate">
            {{ isUpdating ? 'Updating...' : 'Update' }}
          </el-button>
        </el-form-item>
        <el-form-item>
          <el-table
            :show-header="false"
            :data="timesTable">
            <el-table-column prop="name" />
            <el-table-column
              prop="time"
              align="right" />
          </el-table>
        </el-form-item>
        <el-collapse
          v-model="activeName"
          accordion>
          <el-collapse-item
            title="Commands"
            name="commands">
            <el-table
              :show-header="false"
              :data="cmdTable">
              <el-table-column prop="value" />
            </el-table>
          </el-collapse-item>
          <el-collapse-item
            title="Environment Variables"
            name="environmentVariables">
            <el-table
              :show-header="false"
              :data="envVarTable">
              <el-table-column
                prop="name"
                width="180" />
              <el-table-column prop="value" />
            </el-table>
          </el-collapse-item>
        </el-collapse>
      </el-form>
    </div>
  </app-side-wrapper>
</template>

<script>
  import AppSideWrapper from '@/components/layout/AppSideWrapper'
  import dateFormat from 'dateformat'
  import * as apiService from '@/services/api.service'
  import { mapGetters } from 'vuex'

  export default {
    components: { AppSideWrapper },
    data: function () {
      return {
        isUpdating: false,
        updateForm: {
          name: '',
          project: '',
        },
        activeName: null,
      }
    },
    computed: {
      ...mapGetters('api', ['dockerimageWithId']),
      id () {
        return this.$route.params.id
      },
      image () {
        const image = this.dockerimageWithId(this.id)
        if (image === null) return null

        return {
            id: image.id,
          name: image.name,
          user: image.userId,
          project: image.project,
          times: {
            uploadTime: image.meta.uploadTime,
            createdTime : image.meta.created,
          },
          envVars: image.meta.env,
            size: image.meta.size,
            cmd: image.meta.cmd,
        }
      },
      isLoaded () {
        return this.image !== null
      },
      hasChanges () {
        if (!this.isLoaded) return false

        return  this.updateForm.project !== this.image.project ||
          this.updateForm.name !== this.image.name
      },
      timesTable () {
        let data = []
        let imageSize = this.image.size
        let imageSizeString = ''

        if (imageSize > 1048576) {
            imageSizeString = (this.image.size / 1048576).toFixed(2) + ' Mb'
        } else {
            imageSizeString = (this.image.size / 1024).toFixed(2) + ' Kb'
        }

        // TODO: Put date format into any config
        if (this.image.times.uploadTime)
          data.push({name: 'Uploaded At', time:
                  dateFormat(this.image.times.uploadTime, 'dd.mm.yyyy HH:MM:ss')})

        if (this.image.times.createdTime)
          data.push({name: 'Created At', time:
                  dateFormat(this.image.times.createdTime, 'dd.mm.yyyy HH:MM:ss')})

        if (this.image.size)
          data.push({name: 'Size', time: imageSizeString})

        return data
      },
      envVarTable () {
          return this.image.envVars
      },
      cmdTable () {
        if (this.image.cmd) {
            return this.image.cmd.map(item => ({value: item}))
        } else {
            return null
        }
      },
      isAllowedToChange () {
        const username = this.$store.getters['user/username']

        return this.image.user === username
      },
    },
    watch: {
      image: {
        handler (image, oldImage) {
          if (image !== null) this.setFormData()
          if (oldImage === null && image === null) this.fetchImage()
        },
        deep: true,
        immediate: true,
      },
    },
    mounted () {
      this.fetchImage()
    },
    methods: {
      fetchImage () {
        apiService
          .readOneDockerimage(this.id)
          .then(() => this.setFormData())
          .catch(error => {
            this.$message({
              type: 'error',
              message: error,
              offset: 36,
            })
            this.$router.push({ name: 'images-overview' })
          })
      },
      setFormData () {
        if (!this.isLoaded) return
        this.updateForm.name = this.image.name
        this.updateForm.project = this.image.project
      },
      onUpdate () {
        this.isUpdating = true

        apiService
          .updateDockerimage({
            id: this.image.id,
            name: this.updateForm.name,
            project: this.updateForm.project,
          })
          .then(() => this.$message({
            type: 'success',
            message: 'Update completed',
            offset: 36,
          }))
          .catch(error =>
            this.$message({
              type: 'error',
              message: error,
              offset: 36,
            }),
          )
          .finally(() => this.isUpdating = false)
      },
    },
  }
</script>

<style scoped>
  h1 {
    margin-bottom: 8px;
  }

  .el-collapse {
    border: 0;
  }

  .el-table::before {
    height: 0;
  }

  >>> .el-table__body {
    width: 100% !important;
  }

  >>> .el-table__body colgroup {
    display: none !important;
  }

  >>> .el-table__body tr {
    display: flex;
  }

  >>> .el-table__body tr:hover > td {
    background-color: #f7f7f7 !important;
  }

  >>> .el-table__body td {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
  }

  >>> .el-table__body td.is-right {
    flex: 0 0 auto;
  }

  >>> .el-collapse-item__wrap,
  >>> .el-collapse-item__header,
  >>> .el-table, .el-table th,
  >>> .el-table tr {
    background-color: transparent;
  }

  >>> .el-collapse-item__content .el-table__body tr:last-child td  {
    border-bottom: 0;
  }

  >>> .el-collapse-item__content {
    padding-bottom: 0;
  }

  >>> .el-tag {
    margin-bottom: 16px;
  }

  >>> .el-form--label-top .el-form-item__label {
    padding: 0;
  }
</style>
