<template>
  <app-main-wrapper>
    <template slot="title">
      Upload Dockerimage
    </template>
    <div id="upload">
      <el-row>
        <el-col
          :lg="{ span: 16 }"
          :xs="24">
          <div class="info-text">
            <h2>How to build a Dockerimage</h2>
            <p>
              1. Build Dockerimage with
              <em>$ docker image build -t <i>[IMAGE_NAME]</i></em>
            </p>
            <p>
              2. Save the Dockerimage into a .tar archive
              <em>$ docker image save -o
                <i>[ARCHIVE_NAME]</i>.tar
                <i>[IMAGE_NAME]</i></em>
            </p>
            <p>
              See here for more information:
            </p>
            <ul>
              <li>
                <a
                  href="https://docs.docker.com/engine/reference/commandline/image_save/"
                  target="_blank">https://docs.docker.com/engine/reference/commandline/image_save/</a>
              </li>
              <li>
                <a
                  href="https://docs.docker.com/engine/reference/commandline/image_build/"
                  target="_blank">https://docs.docker.com/engine/reference/commandline/image_build/</a>
              </li>
            </ul>
          </div>
        </el-col>
      </el-row>
      <el-row>
        <el-col
          :lg="{ span: 16 }"
          :xs="24">
          <!-- TODO: 'drop-active' not working yet -->
          <div
            class="file-upload-container"
            :class="{ 'drop-active': this.$refs.fileUpload && this.$refs.fileUpload.dropActive }">
            <file-upload
              ref="fileUpload"
              v-model="files"
              class="file-upload-button"
              :custom-action="upload"
              :multiple="true"
              :drop="true">
              <i class="el-icon-upload"></i>
              <span>Drop file here or <em>click to upload</em></span>
            </file-upload>
          </div>
          <el-table
            :data="files"
            style="width: 100%"
            empty-text="There are no files to upload yet.">
            <el-table-column
              label="Name"
              prop="name" />
            <el-table-column
              label="Size"
              prop="size">
              <template slot-scope="scope">
                {{ formatFileSize(scope.row.size) }}
              </template>
            </el-table-column>
            <el-table-column
              label="Type"
              prop="type">
              <template slot-scope="scope">
                <el-tag
                  :type="typeByFileType(scope.row.type)"
                  disable-transitions
                  effect="plain">
                  {{ scope.row.type }}
                </el-tag>
              </template>
            </el-table-column>
          </el-table>
          <br><br>
          <el-button
            :disabled="isUploaded"
            :loading="isLoading"
            icon="el-icon-upload"
            type="success"
            @click="startUpload">
            Upload
          </el-button>
        </el-col>
      </el-row>
      <!-- TODO: Button to Job Management -->
    </div>
  </app-main-wrapper>
</template>

<script>
  import * as apiService from '@/services/api.service'
  import AppMainWrapper from '@/components/layout/AppMainWrapper'
  import FileUpload from 'vue-upload-component'
  import prettyBytes from 'pretty-bytes'

  export default {
    components: { AppMainWrapper, FileUpload },
    data: function () {
      return {
        files: [],
        messages: [],
        isLoading: false,
        isUploaded: false,
      }
    },
    methods: {
      /**
       * Makes a POST request with the uploaded file to the resource server.
       */
      async upload (file) {
        this.isLoading = true

        if (!file || !file.file || !file.name || !file.size) {
          return this.$message({
            message: 'A file is required',
            type: 'error',
            offset: 36,
          })
        }

        const formData = new FormData(),
          username = this.$store.getters['user/username']

        formData.append('file', file.file, file.name)

        apiService
          .createResourceRequest()
          .post(`/users/${username}/dockerimages`, formData, {
            headers: { 'Content-Type': 'multipart/form-data' },
          })
          .then(response => {
            this.isUploaded = true

            let counter = 1
            const success = response.data.success,
              fail = response.data.fail

            success.forEach(image => this.messages.push(this.$message({
              message: `Upload of '${image.image}' was successful`,
              type: 'success',
              offset: 36 * (counter++),
              duration: 0,
            })))

            fail.forEach(image => this.messages.push(this.$message({
              message: `Upload of '${image.image}' failed (${image.reason})`,
              type: 'error',
              offset: 36 * (counter++),
              duration: 0,
            })))
          })
          .catch(error => this.$message({
            message: `An error occurred: ${error.message}`,
            type: 'error',
            offset: 36,
          }))
          .finally(() => this.isLoading = false)
      },
      startUpload () {
        this.$refs.fileUpload.active = true
      },
      formatFileSize(size) {
        return prettyBytes(size)
      },
      typeByFileType(type) {
        if (type === 'application/x-tar' || type === 'application/x-gzip') return 'success'

        return 'danger'
      },
    },
    beforeRouteLeave (to, from, next) {
      if (this.messages.length > 0) this.messages.forEach(message => message.close())
      next()
    },
  }
</script>

<style scoped>
  >>> .el-button {
    width: 100%;
  }

  >>> .el-upload,
  >>> .el-upload-dragger {
    width: 100%;
  }

  .alert-container,
  .file-upload-container {
    margin-bottom: 24px;
  }

  .info-text {
    color: #409eff;
    background-color: #ecf5ff;
    margin: 0 0 24px 0;
    padding: 12px 20px;
    border: 1px #c6e2ff solid;
    line-height: 1.5;
    white-space: nowrap;
    outline: 0;
    font-weight: 500;
    font-size: 14px;
    border-radius: 4px;
  }

  .info-text h2 {
    font-size: 17px;
  }

  .info-text em {
    background-color: #d6eaff;
    margin: 0 4px;
    padding: 2px 8px;
    border: 1px #b1ceff solid;
    white-space: nowrap;
    outline: 0;
    font-weight: 700;
    font-size: 14px;
    border-radius: 4px;
  }

  .info-text a {
    color: #409eff;
  }

  >>> .file-upload-container label {
    cursor: pointer !important;
  }

  .file-upload-container .file-upload-button {
    display: block;
    padding: 40px 20px;
    border: 1px dashed #d9d9d9;
    line-height: 1.5;
    outline: 0;
    font-size: 14px;
    border-radius: 4px;
  }

  .file-upload-container.drop-active .file-upload-button {
    background-color: #f3f9ff;
    border-color: #409EFF;
    border-width: 2px;
  }

  .file-upload-container .file-upload-button:hover {
    border-color: #409EFF;
  }

  .file-upload-container .file-upload-button i {
    display: block;
    font-size: 67px;
    color: #C0C4CC;
    margin: 20px 0;
    line-height: 50px;
  }

  .file-upload-container .file-upload-button span {
    color: #606266;
    font-size: 14px;
    text-align: center;
  }

  .file-upload-container .file-upload-button span em {
    color: #409EFF;
    font-style: normal;
  }
</style>
