<template>
  <el-dialog
    title="Reason for Canceling this Job"
    width="40%"
    center
    :visible.sync="isVisible"
    @close="cancel">
    <el-form
      :model="form"
      size="small"
      label-position="top"
      @submit.native.prevent="createReasonCancel">
      <el-form-item>
        <el-input
          v-model="form.reason"
          :disabled="isLoading" />
      </el-form-item>
      <el-form-item>
        <el-button @click="cancel">
          Don't cancel
        </el-button>
        <el-button
          type="primary"
          :disabled="!isValid"
          :loading="isLoading"
          @click="createReasonCancel">
          {{ isLoading ? "Canceling Job..." : "Cancel Job" }}
        </el-button>
      </el-form-item>
    </el-form>
  </el-dialog>
</template>

<script>
  import * as apiService from '@/services/api.service'

  export default {
    name: 'CancelJobReasonDialog',
    props: {
      input: {
        type: Object,
        default: null,
      },
    },
    data: function () {
      return {
        isLoading: false,
        isVisible: false,
        form: {
          reason: '',
        },
      }
    },
    computed: {
      isValid() {
        return this.form.reason !== ''
      },
    },
    watch: {
      input: function (val) {
        this.isVisible = val !== null
      },
    },
    methods: {
      cancel() {
        this.isLoading = false
        this.form.reason = ''
        if (this.input) this.input.next()
        this.$emit('cancel')
      },
      createReasonCancel() {
        this.isLoading = true

        apiService
          .cancelJobAdmin({
            id: this.input.id,
            reason: this.form.reason,
          })
          .then(() => this.$message({
            type: 'success',
            message: 'Canceling Job completed',
            offset: 36,
          }))
          .catch(error => this.$message({
            type: 'error',
            message: error,
            offset: 36,
          }))
          .finally(() => {
            this.input.next()
            this.isLoading = false
            this.isVisible = false
          })
      },
    },
  }
</script>

<style scoped>

</style>
