<template>
  <el-header
    id="app-header"
    height="64px">
    <div
      v-if="!authOnly"
      class="branding">
      <img
        class="icon hidden-sm-and-up"
        :src="$iconUrl">
      <img
        class="logo hidden-xs-only"
        :src="$logoDarkUrl">
    </div>
    <transition name="el-fade-in-linear">
      <div
        v-if="!$isLoading && !authOnly && $userIsLoggedIn"
        class="user-info">
        <span
          ref="username"
          class="name">{{ $currentUser.username }}</span>
        <el-popover
          placement="bottom-end"
          trigger="hover">
          <router-link
            v-if="$userIsAdmin"
            :to="{ name: 'admin-dashboard' }">
            <el-dropdown-item icon="el-icon-s-grid">
              Cluster
            </el-dropdown-item>
          </router-link>
          <router-link :to="{ name: 'inbox' }">
            <el-dropdown-item icon="el-icon-message-solid">
              Inbox
            </el-dropdown-item>
          </router-link>
          <router-link :to="{ name: 'auth-logout' }">
            <el-dropdown-item
              ref="logout-button"
              divided>
              Logout
            </el-dropdown-item>
          </router-link>
          <el-avatar
            slot="reference"
            class="icon"
            icon="el-icon-user-solid"></el-avatar>
        </el-popover>
      </div>
      <div
        v-else-if="!$isLoading && !authOnly"
        ref="auth-buttons"
        class="auth-buttons">
        <el-button
          v-if="!$isSignUpRoute"
          ref="sign-up-button"
          size="small"
          @click="navigateToSignUp">
          Sign Up
        </el-button>
        <el-button
          v-if="!$isLoginRoute"
          ref="login-button"
          size="small"
          type="success"
          @click="navigateToLogin">
          Login
        </el-button>
      </div>
    </transition>
  </el-header>
</template>

<script>
  import * as authService from '@/services/auth.service'

  export default {
    name: 'AppHeader',
    props: {
      authOnly: {
        type: Boolean,
        default: false,
      },
    },
    data: function () {
      return {}
    },
    methods: {
      navigateToLogin () {
        authService.authorize()
      },
      navigateToSignUp () {
        authService.authorize({ signUp: true })
      },
    },
  }
</script>

<style scoped>
  #app-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
  }

  .el-header {
    background-color: #001328; /* TODO: Move colors to dedicated file */
    font-weight: bold;
    line-height: 24px;
    text-align: right;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .el-header,
  .el-dropdown {
    color: #ffffff; /* TODO: Move colors to dedicated file */
  }

  .el-dropdown i {
    font-size: 16px;
    margin-right: 8px;
  }

  a {
    text-decoration: none;
  }

  .branding .icon {
    width: 40px;
    height: 40px;
    margin-left: -6px;
  }

  .branding .logo {
    width: 200px;
    height: 40px;
    margin-left: -12px;
  }

  .user-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .user-info .name {
    margin-right: 16px;
  }

  .user-info .icon {
    margin-top: 6px;
  }

  .auth-buttons {
    padding-top: 4px;
  }
</style>
