<template>
  <div class="wrapper">
    <el-menu
      background-color="#fcfcfc"
      :router="true"
      :collapse="collapsed"
      :default-active="activeIndex"
      :default-openeds="['2', '3']">
      <el-menu-item
        index="1"
        :route="{ name: 'dashboard' }">
        <i class="el-icon-user-solid"></i>
        <span slot="title">Dashboard</span>
      </el-menu-item>
      <el-submenu index="2">
        <template slot="title">
          <i class="el-icon-files"></i>
          <span>Images</span>
        </template>
        <el-menu-item
          index="2-1"
          :route="{ name: 'images-overview' }">
          <i class="el-icon-collection-tag"></i>
          <span>Overview</span>
        </el-menu-item>
        <el-menu-item
          index="2-2"
          :route="{ name: 'images-upload-dockerimage' }">
          <i class="el-icon-upload"></i>
          <span>Upload</span>
        </el-menu-item>
        <el-menu-item
          index="2-3"
          :route="{ name: 'images-build-dockerimage' }">
          <i class="el-icon-plus"></i>
          <span>Create</span>
        </el-menu-item>
      </el-submenu>
      <el-submenu index="3">
        <template slot="title">
          <i class="el-icon-tickets"></i>
          <span>Jobs</span>
        </template>
        <el-menu-item
          index="3-1"
          :route="{ name: 'jobs-overview' }">
          <i class="el-icon-collection-tag"></i>
          <span>Overview</span>
        </el-menu-item>
      </el-submenu>
    </el-menu>
    <el-button
      class="collapse-button"
      :class="{ collapsed }"
      icon="el-icon-d-arrow-left"
      type="text"
      @click="toggle" />
  </div>
</template>

<script>
  const indexes = {
    'dashboard': '1',
    'inbox': '1',
    'images-overview': '2-1',
    'images-details': '2-1',
    'images-edit-dockerimage': '2-1',
    'images-upload-dockerimage': '2-2',
    'images-build-dockerimage': '2-3',
    'images-build-dockerimage-template': '2-3',
    'jobs-overview': '3-1',
    'jobs-details': '3-1',
  }

  export default {
    name: 'AppMenu',
    props: {
      collapsed: {
        type: Boolean,
        default: false,
      },
    },
    data () {
      return {
      }
    },
    computed: {
      activeIndex () {
        return indexes[this.$route.name]
      },
    },
    mounted () {
    },
    methods: {
      toggle () {
        this.$emit('toggle')
      },
    },
  }
</script>

<style>
  .el-menu-item:hover, .el-submenu__title:hover {
    background-color: #f3f3f3 !important;
  }
</style>

<style scoped>
  .wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .el-menu {
    border: 0;
  }

  .el-menu:not(.el-menu--collapse) {
    width: 200px;
  }

  .el-menu.el-menu--collapse .el-submenu.is-active .el-submenu__title,
  .el-menu.el-menu--collapse .el-submenu.is-active .el-submenu__title i {
    color: #409EFF;
  }

  .collapse-button {
    width: 200px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #001328;
    font-weight: bold;
    border-radius: 0;
    border: 0;
    border-top: 1px #efefef solid;

    -webkit-transition: width 0.25s ease-in-out 0.05s, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;
    -moz-transition: width 0.25s ease-in-out 0.05s, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;
    -ms-transition: width 0.25s ease-in-out 0.05s, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;
    -o-transition: width 0.25s ease-in-out 0.05s, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;
    transition: width 0.25s ease-in-out 0.05s, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;
  }

  .collapse-button >>> i {
    -webkit-transition: -webkit-transform 0.3s ease-in-out 0.05s;
    -moz-transition: -moz-transform 0.3s ease-in-out 0.05s;
    -ms-transition: -ms-transform 0.3s ease-in-out 0.05s;
    -o-transition: -o-transform 0.3s ease-in-out 0.05s;
    transition: transform 0.3s ease-in-out 0.05s;
  }

  .collapse-button:hover {
    color: #001328;
    background-color: #f3f3f3;
    border-color: #e3e3e3;
  }

  .collapse-button:focus, .collapse-button:active {
    color: #001328;
    border-top-color: #efefef;
  }

  .collapse-button.collapsed {
    width: 64px;
  }

  .collapse-button.collapsed >>> i {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
</style>
