<template>
  <div id="main-wrapper">
    <div
      v-if="hasTitleSlot"
      class="header">
      <h1 class="title">
        <slot name="title"></slot>
      </h1>
    </div>
    <div class="content">
      <slot />
    </div>
  </div>
</template>

<script>
  export default {
    name: 'AppMainWrapper',
    data: function () {
      return {}
    },
    computed: {
      hasTitleSlot () {
        return !!this.$slots.title
      },
    },
  }
</script>

<style scoped>
  #main-wrapper .header {
    position: sticky;
    top: 64px;
    z-index: 1000;
    padding: 16px;
    background: #fcfcfc;
    border-bottom: 1px #efefef solid;
  }

  #main-wrapper .header h1.title {
    margin: 0;
    font-size: 22px;
    line-height: 28px;
    font-weight: bold;
  }

  #main-wrapper .content {
    padding: 16px;
  }
</style>
