<template>
  <div id="side-wrapper">
    <div
      v-if="closeTo"
      class="close-button">
      <el-button
        icon="el-icon-close"
        size="mini"
        @click="onClose" />
    </div>
    <slot />
  </div>
</template>

<script>
  export default {
    name: 'AppSideWrapper',
    props: {
      closeTo: {
        type: [String, Object],
        default: null,
      },
      discardWarning: {
        type: Boolean,
        default: false,
      },
    },
    data: function () {
      return {}
    },
    methods: {
      onClose () {
        if (!this.discardWarning) return this.$router.replace(this.closeTo)

        this.$confirm('This will discard all changes. Continue?', 'Warning', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
          center: true,
        })
          .then(() => {
            this.$router.replace(this.closeTo)
          })
      },
    },
  }
</script>

<style scoped>
  #side-wrapper {
    padding: 20px;
  }

  .close-button:after {
    content: "";
    display: block;
    clear: both;
  }

  .el-button {
    float: right;
  }
</style>
