<template>
  <el-dialog
    title="Create New Job"
    width="70%"
    center
    :visible.sync="isVisible"
    @close="cancel">
    <el-form
      :model="form"
      size="small"
      label-position="top"
      @submit.native.prevent="create">
      <el-form-item label="Name">
        <el-input
          v-model="form.name"
          :disabled="isLoading"
        ></el-input>
      </el-form-item>
      <el-form-item label="Environment Variables">
        <el-table
          :show-header="false"
          :data="environmentVariables"
          empty-text="None yet.">
          <el-table-column
            label="Name"
            prop="name">
            <template slot-scope="scope">
              <el-input
                v-if="activeEnvironmentVariable.index === scope.$index"
                v-model="activeEnvironmentVariable.name"
                size="mini"
                placeholder="Name" />
              <b
                v-else
                class="environment-variables-name">
                <i v-if="!scope.row.name">Name</i>
                <span v-else>{{ scope.row.name }}</span>
              </b>
            </template>
          </el-table-column>
          <el-table-column
            label="Value"
            prop="value">
            <template slot-scope="scope">
              <el-input
                v-if="activeEnvironmentVariable.index === scope.$index"
                v-model="activeEnvironmentVariable.value"
                size="mini"
                placeholder="Value" />
              <span
                v-else
                class="environment-variables-value">
                <i v-if="!scope.row.value">Value</i>
                <span v-else>{{ scope.row.value }}</span>
              </span>
            </template>
          </el-table-column>
          <el-table-column align="right">
            <template slot-scope="scope">
              <el-button
                v-if="activeEnvironmentVariable.index === scope.$index"
                icon="el-icon-check"
                size="mini"
                type="success"
                :disabled="(!activeEnvironmentVariable.name || !activeEnvironmentVariable.value)"
                @click="saveEnvironmentVariable" />
              <el-button
                v-else
                icon="el-icon-edit"
                size="mini"
                plain
                :disabled="activeEnvironmentVariable.index !== null"
                @click="editEnvironmentVariable(scope)" />
              <el-button
                icon="el-icon-delete"
                size="mini"
                type="danger"
                plain
                :disabled="(activeEnvironmentVariable.index !== scope.$index && activeEnvironmentVariable.index !== null)"
                @click="deleteEnvironmentVariable(scope)" />
            </template>
          </el-table-column>
        </el-table>
        <div class="environment-variables-actions">
          <el-button
            size="mini"
            type="primary"
            plain
            :disabled="activeEnvironmentVariable.index !== null"
            @click="addEnvironmentVariable()">
            Add
          </el-button>
        </div>
      </el-form-item>
      <el-form-item v-if="$userIsAdmin">
        <el-checkbox
          v-model="form.startWithPriority"
          :disabled="isLoading">
          Start With Priority?
        </el-checkbox>
      </el-form-item>
      <el-form-item>
        <el-checkbox
          v-model="form.startImmediately"
          :disabled="isLoading">
          Start Immediately?
        </el-checkbox>
      </el-form-item>
      <el-form-item>
        <el-button @click="cancel">
          Cancel
        </el-button>
        <el-button
          type="primary"
          :disabled="!isValid || activeEnvironmentVariable.index !== null"
          :loading="isLoading"
          @click="create">
          {{ isLoading ? "Creating..." : "Create" }}
        </el-button>
      </el-form-item>
    </el-form>
  </el-dialog>
</template>

<script>
  import * as apiService from '@/services/api.service'

  export default {
    name: 'CreateJobDialog',
    props: {
      imageId: {
        type: String,
        default: null,
      },
    },
    data: function () {
      return {
        isLoading: false,
        isVisible: false,
        form: {
          name: '',
          startWithPriority: false,
          startImmediately: false,
        },
        environmentVariables: [],
        activeEnvironmentVariable: {
            index: null,
            name: null,
            value: null,
        },
      }
    },
    computed: {
      isValid() {
        return this.form.name !== ''
      },
    },
    watch: {
      imageId: function (val) {
        this.isVisible = val !== null
      },
    },
    methods: {
      setActiveEnvironmentVariable(index) {
          this.activeEnvironmentVariable.index = index
          if (index === null) {
              this.activeEnvironmentVariable.name = null
              this.activeEnvironmentVariable.value = null
          } else {
              this.activeEnvironmentVariable.name = this.environmentVariables[this.activeEnvironmentVariable.index].name
              this.activeEnvironmentVariable.value = this.environmentVariables[this.activeEnvironmentVariable.index].value
          }
      },
      addEnvironmentVariable() {
          this.environmentVariables.push({name: '', value: ''})
          this.setActiveEnvironmentVariable(this.environmentVariables.length - 1)
      },
      saveEnvironmentVariable() {
          this.$set(this.environmentVariables, this.activeEnvironmentVariable.index, {
              name: this.activeEnvironmentVariable.name,
              value: this.activeEnvironmentVariable.value,
          })
          this.setActiveEnvironmentVariable(null)
      },
      editEnvironmentVariable(scope) {
          this.setActiveEnvironmentVariable(scope.$index)
      },
      deleteEnvironmentVariable(scope) {
          this.$delete(this.environmentVariables, scope.$index)
          this.setActiveEnvironmentVariable(null)
      },
      create() {
        if (!this.isValid) return

        this.isLoading = true

        const createJob = async () => {
          const createdJobId = await apiService.createJob({
            imageId: this.imageId.toString(),
            name: this.form.name,
            environmentVariables: this.environmentVariables,
            priority: this.form.startWithPriority ? 'high' : 'default',
          })

          if (this.form.startImmediately) {
            await apiService.startJob(createdJobId)
          }

          return createdJobId
        }

        createJob()
          .then(id => {
            this.isLoading = false

            this.$router.push({
              name: 'jobs-details',
              params: { id: id },
            })
          })
          .catch(error => this.$message({
            type: 'error',
            message: error,
            offset: 36,
          }))
      },
      cancel() {
        this.isLoading = false
        this.form.name = ''
        this.form.startImmediately = false

        this.$emit('cancel')
      },
    },
  }
</script>
<style scoped>


  >>> .el-table__empty-block {
    min-height: 0;border-bottom: 1px solid #EBEEF5;
  }

  >>> .el-table__empty-text {
    line-height: 52px;
  }

  .environment-variables-name, .environment-variables-value {
    line-height: 28px;
  }

  .environment-variables-actions {
    margin-top: 10px;
  }
</style>
