<template>
  <el-card
    class="job-card"
    :body-style="{ padding: '0' }"
    shadow="never">
    <div class="tags">
      <el-tag
        v-if="$userIsAdmin"
        :effect="user === $currentUser.username ? 'light' : 'plain'"
        size="small"
        type="info">
        User: <b>{{ user }}</b>
      </el-tag>
      <el-tooltip
        v-if="!isCurrent"
        placement="top">
        <div slot="content">
          This Job was executed with an old version of the Image.
        </div>
        <el-tag
          effect="light"
          size="small">
          Image:
          <router-link :to="imageDetailsLink">
            <b>{{ image }}</b>
          </router-link>
          &nbsp;<i class="el-icon-info"></i>
        </el-tag>
      </el-tooltip>
      <el-tag
        v-else
        effect="light"
        size="small">
        Image:
        <router-link :to="imageDetailsLink">
          <b>{{ image }}</b>
        </router-link>
      </el-tag>
      <el-tag
        v-if="project"
        effect="light"
        size="small">
        Project: <b>{{ project }}</b>
      </el-tag>
      <el-tag
        :type="$typeByJobStatus(status)"
        effect="light"
        size="small">
        Status: <b>{{ status }}</b>
      </el-tag>
    </div>
    <div class="info">
      <div class="name">
        <router-link :to="jobDetailsLink">
          <span>{{ name }}</span>
        </router-link>
      </div>
    </div>
    <div class="actions">
      <div class="start">
        <router-link :to="imageDetailsLink">
          <el-button
            :disabled="isLoading"
            icon="el-icon-files"
            plain
            round
            size="mini"
            type="info">
            Image
          </el-button>
        </router-link>
        <router-link :to="jobDetailsLink">
          <el-button
            :disabled="isLoading"
            :plain="!jobDetailsAreOpen"
            icon="el-icon-more"
            round
            size="mini"
            type="primary">
            Details
          </el-button>
        </router-link>
        <el-button
          v-if="userOwnsJob"
          :loading="isDeleting"
          :disabled="isLoading"
          icon="el-icon-delete"
          plain
          round
          size="mini"
          type="danger"
          @click="deleteJob">
          {{ isDeleting ? 'Deleting...' : 'Delete' }}
        </el-button>
      </div>
      <div class="end">
        <transition name="el-fade-in">
          <el-button
            v-if="isAllowedToCancel"
            :loading="isCanceling"
            icon="el-icon-circle-close"
            plain
            round
            size="mini"
            type="warning"
            @click="$userIsAdmin ? cancelJobAdmin() : cancelJob()">
            {{ isCanceling ? 'Canceling...' : 'Cancel' }}
          </el-button>
        </transition>
        <transition name="el-fade-in">
          <el-button
            v-if="isAllowedToStart && userOwnsJob"
            :loading="isStarting"
            icon="el-icon-right"
            plain
            round
            size="mini"
            type="success"
            @click="startJob">
            {{ isStarting ? 'Starting...' : 'Start' }}
          </el-button>
        </transition>
        <transition name="el-fade-in">
          <el-button
            v-if="isAllowedToRestart && userOwnsJob"
            :loading="isRestarting"
            icon="el-icon-refresh-right"
            plain
            round
            size="mini"
            type="success"
            @click="restartJob">
            {{ isRestarting ? 'Restarting...' : 'Restart' }}
          </el-button>
        </transition>
      </div>
    </div>
  </el-card>
</template>

<script>
  import {JobStatusTypes} from '@/globals'

  export default {
    name: 'JobCard',
    props: {
      id: {
        type: Number,
        default: null,
      },
      user: {
        type: String,
        default: null,
      },
      name: {
        type: String,
        default: null,
      },
      image: {
        type: String,
        default: null,
      },
      project: {
        type: String,
        default: null,
      },
      status: {
        type: String,
        default: null,
      },
      isCurrent: {
        type: Boolean,
        default: true,
      },
    },
    data: function () {
      return {
        isCanceling: false,
        isDeleting: false,
        isStarting: false,
        isRestarting: false,
      }
    },
    computed: {
      isLoading() {
        return this.isStarting || this.isRestarting || this.isCanceling || this.isDeleting
      },
      isAllowedToCancel() {
        return this.status === JobStatusTypes.RUNNING.id
      },
      isAllowedToStart() {
        return this.status === JobStatusTypes.NONE.id
      },
      isAllowedToRestart() {
        return this.status === JobStatusTypes.SUCCEEDED.id ||
          this.status === JobStatusTypes.FAILED.id ||
          this.status === JobStatusTypes.CANCELED.id
      },
      userOwnsJob() {
        const username = this.$store.getters['user/username']

        return this.user === username
      },
      imageDetailsLink () {
        return { name: 'images-details', params: { id: this.image } }
      },
      jobDetailsLink () {
        if (this.jobDetailsAreOpen) return { name: 'jobs-overview' }
        else return { name: 'jobs-details', params: { id: this.id } }
      },
      jobDetailsAreOpen () {
        return this.$route.name === 'jobs-details' && this.$route.params.id.toString() === this.id.toString()
      },
    },
    methods: {
      cancelJob() {
        this.isCanceling = true
        this.$emit('cancel-job', {
          id: this.id,
          next: () => this.isCanceling = false,
        })
      },
      cancelJobAdmin() {
        this.isCanceling = true
        if (this.user === 'admin') {
          this.$emit('cancel-job', {
            id: this.id,
            next: () => this.isCanceling = false,
          })
        } else {
          this.$emit('cancel-job-admin', {
            id: this.id,
            next: () => this.isCanceling = false,
          })
        }
      },
      deleteJob () {
        this.isDeleting = true
        this.$emit('delete-job', {
          id: this.id,
          next: () => this.isDeleting = false,
          done: () => {
            const id = parseInt(this.$route.params.id)
            if (this.$route.name === 'jobs-details' && this.id === id) {
              setTimeout(() => this.$router.push({ name: 'jobs-overview' }), 500)
            }
          },
        })
      },
      startJob() {
        this.isStarting = true
        this.$emit('start-job', {
          id: this.id,
          next: () => this.isStarting = false,
        })
      },
      restartJob() {
        this.isRestarting = true
        this.$emit('restart-job', {
          id: this.id,
          next: () => this.isRestarting = false,
        })
      },
    },
  }
</script>

<style scoped>
  .el-card {
    margin-bottom: 24px;
  }

  .tags {
    padding: 16px 16px 0 16px;
  }

  .tags .el-tag {
    margin: 0 10px 10px 0;
  }

  .tags .el-tag a {
    color: inherit;
    text-decoration: none;
  }

  .info {
    padding: 8px 16px 16px 16px;
  }

  .info .name {
    font-size: 18px;
    font-weight: bold;
  }

  .info .name a {
    color: #303133;
    text-decoration: none;
  }

  .actions {
    padding: 8px 16px 16px 16px;
    background: #fafcff;
    border-top: 1px #ebeef5 solid;
    display: flex;
    justify-content: space-between;
  }

  .actions .el-button {
    margin: 10px 10px 0 0;
  }
</style>
