<template>
  <div>
    <div>
      <el-button-group style="margin-bottom: 8px">
        <el-button
          size="medium"
          icon="el-icon-download"
          :loading="isDownloading"
          @click="download">
          Download
        </el-button>
        <el-button
          size="medium"
          icon="el-icon-refresh"
          :loading="isRefreshing"
          @click="refresh">
          Refresh
        </el-button>
      </el-button-group>
      <el-row justify="space-between">
        <el-col :span="12">
          <el-dropdown @command="onChangeRefreshTimeoutInterval">
            <el-button
              size="medium"
              :disabled="isRefreshing">
              <span v-if="refreshTimeoutInterval === 0">Don't refresh automatically</span>
              <span v-else>Refresh every {{ refreshTimeoutInterval }} seconds</span>
              <i class="el-icon-arrow-down el-icon--right"></i>
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item command="0">
                Don't refresh automatically
              </el-dropdown-item>
              <el-dropdown-item
                command="5"
                divided>
                Every 5 seconds
              </el-dropdown-item>
              <el-dropdown-item command="10">
                Every 10 seconds
              </el-dropdown-item>
              <el-dropdown-item command="30">
                Every 30 seconds
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </el-col>
        <el-col
          :span="12"
          style="text-align: end">
          <el-dropdown @command="onChangeShowLinesCount">
            <el-button
              size="medium"
              :disabled="isRefreshing">
              Show {{ showLinesCount }} lines
              <i class="el-icon-arrow-down el-icon--right"></i>
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item command="100">
                Show 100 lines
              </el-dropdown-item>
              <el-dropdown-item command="500">
                Show 500 lines
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </el-col>
      </el-row>
    </div>
    <prism
      id="output"
      ref="output"
      language="prolog"
      :code="code"></prism>
  </div>
</template>

<script>
  import * as apiService from '@/services/api.service'
  import Prism from 'vue-prismjs'
  import saveAs from 'file-saver'
  import 'prismjs/themes/prism-okaidia.css'
  import $store from '@/store'
  import { JobStatusTypes } from '@/globals'

  export default {
    name: 'JobDetailsLogs',
    components: {
      Prism,
    },
    props: {
      id: {
        type: Number,
        default: null,
      },
    },
    data: function () {
      return {
        isRefreshing: true,
        isDownloading: false,
        refreshTimeout: null,
        refreshTimeoutInterval: 0,
        showLinesCount: 100,
        code: '',
      }
    },
    watch: {
      refreshTimeoutInterval: function (interval) {
        if (interval === 0) return
        this.refreshTimeout = setTimeout(this.refresh, interval * 1000)
      },
    },
    mounted() {
      this.refresh()
    },
    methods: {
      onChangeRefreshTimeoutInterval(timeout) {
        if (this.refreshTimeout !== null) clearTimeout(this.refreshTimeout)
        this.refreshTimeoutInterval = parseInt(timeout)
      },
      onChangeShowLinesCount(linesCount) {
        this.showLinesCount = linesCount
        this.refresh()
      },
      refresh() {
        if (this.refreshTimeout !== null) clearTimeout(this.refreshTimeout)

        this.isRefreshing = true

        const username = $store.getters['user/username']

        const status = $store.getters['api/jobWithId'](this.id).status

        let request

        if (
          status === JobStatusTypes.SUCCEEDED.id ||
          status === JobStatusTypes.CANCELED.id ||
          status === JobStatusTypes.FAILED.id
        ) {
            request = apiService.createResourceRequest()
        } else {
            request = apiService.createReportingRequest()
        }

        request
          .get(`/users/${username}/jobs/${this.id}/logs`
              , { params: {lines : this.showLinesCount} })
          .then(response => new Promise(resolve => setTimeout(() => resolve(response), 250)))
          .then(response => {
            const code = response.data.length ? response.data.split(/\n/g) : []
            this.code = code.slice(-this.showLinesCount).join('\n')

            this.isRefreshing = false

            if (this.refreshTimeout !== null && this.refreshTimeoutInterval !== 0) {
              this.refreshTimeout = setTimeout(this.refresh, this.refreshTimeoutInterval * 1000)
            }

            /*
            const $output = this.$refs.output.$el,
                $logs = $output.getElementsByTagName("code")[0];
            console.log($logs.offsetHeight);
            $output.scrollTo({top: $logs.offsetHeight + 1000})
            */
          })
          .catch(error =>
            this.$message({
              type: 'error',
              message: error.message,
              offset: 36,
            }),
          )
      },
      download() {
        this.isDownloading = true

        const username = $store.getters['user/username']

        const status = $store.getters['api/jobWithId'](this.id).status

        let request

        if (status === JobStatusTypes.SUCCEEDED.id) {
            request = apiService.createResourceRequest()
        } else {
            request = apiService.createReportingRequest()
        }

        request
          .get(`/users/${username}/jobs/${this.id}/logs`)
          .then(response => new Promise(resolve => setTimeout(() => resolve(response), 250)))
          .then(response => {
            const blob = new Blob([response.data], {type: 'text/plain;charset=utf-8'})
            saveAs(blob, `jobjogger-logs-${this.id}-${Date.now()}.txt`)
            this.isDownloading = false
          })
          .catch(error =>
            this.$message({
              type: 'error',
              message: error.message,
              offset: 36,
            }),
          )
      },
    },
    beforeLeave() {
      this.refreshTimeout = null
    },
  }
</script>

<style scoped>
  #output {
    max-height: 50vh;
    overflow: auto;
  }
</style>
