<template>
  <app-main-wrapper>
    <template slot="title">
      Dashboard
    </template>
    <el-row :gutter="16">
      <el-col
        :xs="24"
        :md="12">
        <el-card
          class="dashboard-card"
          shadow="never">
          <div slot="header">
            <b>Unseen Messages</b>
            <router-link :to="{ name: 'inbox' }">
              <el-button
                icon="el-icon-more"
                plain
                round
                size="mini"
                type="primary">
                See Inbox
              </el-button>
            </router-link>
          </div>
          <el-table
            v-loading="isLoadingMessages"
            :data="messages"
            :show-header="false"
            empty-text="You have no unseen messages.">
            <el-table-column align="left">
              <template slot-scope="scope">
                <el-tag
                  effect="light"
                  size="small"
                  type="info">
                  {{ scope.row.time }}
                </el-tag>
              </template>
            </el-table-column>
            <el-table-column>
              <template slot-scope="scope">
                <router-link
                  :to="{ name: 'jobs-details', params: { id: scope.row.job.id }}">
                  {{ scope.row.job.name }}
                </router-link>
              </template>
            </el-table-column>
            <el-table-column align="right">
              <template slot-scope="scope">
                <el-tooltip
                  v-if="scope.row.reason"
                  placement="top">
                  <div slot="content">
                    <b>Reason:</b> {{ scope.row.reason }}
                  </div>
                  <el-tag
                    disable-transitions
                    :effect="scope.row.seen ? 'light' : 'dark'"
                    :type="$typeByMessageType(scope.row.type)"
                    size="small">
                    <i class="el-icon-info"></i> <b>{{ $labelByMessageType(scope.row.type) }}</b>
                  </el-tag>
                </el-tooltip>
                <el-tag
                  v-else
                  effect="light"
                  size="small"
                  :type="$typeByMessageType(scope.row.type)">
                  <b>{{ $labelByMessageType(scope.row.type) }}</b>
                </el-tag>
              </template>
            </el-table-column>
            <el-table-column align="right">
              <template slot-scope="scope">
                <el-button
                  :loading="isUpdatingMessage === scope.row.id"
                  :disabled="isUpdatingMessage !== null"
                  icon="el-icon-check"
                  plain
                  round
                  size="mini"
                  type="success"
                  @click="markMessageAsSeen(scope.row.id)" />
              </template>
            </el-table-column>
          </el-table>
        </el-card>
      </el-col>
      <el-col
        :xs="24"
        :md="12">
        <el-card
          class="dashboard-card"
          shadow="never">
          <div slot="header">
            <b>Active Jobs</b>
            <router-link :to="{ name: 'jobs-overview' }">
              <el-button
                icon="el-icon-more"
                plain
                round
                size="mini"
                type="primary">
                See all Jobs
              </el-button>
            </router-link>
          </div>
          <el-table
            v-loading="isLoadingJobs"
            :data="jobs"
            :show-header="false"
            empty-text="You have no active Jobs.">
            <el-table-column
              v-if="$userIsAdmin"
              align="left">
              <template slot-scope="scope">
                <el-tag
                  :effect="scope.row.user === $currentUser.username ? 'light' : 'plain'"
                  size="small"
                  type="info">
                  User: <b>{{ scope.row.user }}</b>
                </el-tag>
              </template>
            </el-table-column>
            <el-table-column
              column-key="name"
              label="Name"
              prop="name">
              <template slot-scope="scope">
                <router-link
                  :to="{ name: 'jobs-details', params: { id: scope.row.id }}">
                  {{ scope.row.name }}
                </router-link>
              </template>
            </el-table-column>
            <el-table-column
              align="right"
              prop="status">
              <template slot-scope="scope">
                <el-tag
                  :type="$typeByJobStatus(scope.row.status)"
                  effect="light"
                  size="small">
                  <b>{{ scope.row.status }}</b>
                </el-tag>
              </template>
            </el-table-column>
            <el-table-column align="right">
              <template slot-scope="scope">
                <router-link :to="{ name: 'jobs-details', params: { id: scope.row.id } }">
                  <el-button
                    icon="el-icon-more"
                    plain
                    round
                    size="mini"
                    type="primary" />
                </router-link>
              </template>
            </el-table-column>
          </el-table>
        </el-card>
      </el-col>
    </el-row>
  </app-main-wrapper>
</template>

<script>
  import _ from 'underscore'
  import dateFormat from 'dateformat'
  import * as apiService from '@/services/api.service'
  import AppMainWrapper from '@/components/layout/AppMainWrapper'
  import { JobStatusTypes } from '@/globals'
  import { mapActions, mapGetters } from 'vuex'

  export default {
    components: { AppMainWrapper },
    data: function () {
      return {
        messages: null,
        isUpdatingMessage: null,
      }
    },
    computed: {
      ...mapGetters('api', ['allJobs']),
      isLoadingMessages () {
        return this.messages === null
      },
      isLoadingJobs () {
        return this.jobs === null
      },
      jobs () {
        let jobs = this.allJobs

        if (jobs === null) return null

        jobs = jobs.map(job => {
          return {
            id: job.id,
            name: job.name,
            user: job.userId,
            status: job.status,
          }
        }).filter(job => JobStatusTypes[job.status].watched)

        return jobs
      },
    },
    watch: {
      jobs: {
        handler (jobs, oldJobs) {
          if (jobs === null || _.isEqual(jobs, oldJobs)) return
          this.fetchMessages()
          this.watchJobs(jobs.map(job => job.id))
        },
        deep: true,
        immediate: true,
      },
    },
    mounted () {
      this.fetchJobs()
    },
    methods: {
      ...mapActions('app', ['watchJobs']),
      fetchMessages () {
        apiService
          .readInboxMessages()
          .then(messages => {
            this.messages = messages.filter(message => message.seen === false).map(message => {
              return {
                id: message.id,
                type: message.notificationType,
                time: dateFormat(message.timestamp, 'dd.mm.yyyy HH:MM:ss'),
                seen: message.seen,
                reason: message.reason,
                job: {
                  id: message.jobId,
                  name: message.jobName,
                },
              }
            })
          })
          .catch(error => this.$message({
            type: 'error',
            message: error,
            offset: 36,
          }))
      },
      markMessageAsSeen (id) {
        this.isUpdatingMessage = id

        apiService
          .markInboxMessagesAsSeen([id])
          .then(() => setTimeout(this.fetchMessages, 500))
          .catch(error =>
            this.$message({
              type: 'error',
              message: error,
              offset: 36,
            }),
          )
          .finally(() => setTimeout(() => this.isUpdatingMessage = null, 500))
      },
      fetchJobs () {
        apiService
          .readAllJobs()
          .catch(error => this.$message({
            type: 'error',
            message: error,
            offset: 36,
          }))
      },
    },
    beforeRouteEnter (to, from, next) {
      apiService.resetJobs().finally(() => next())
    },
  }
</script>

<style scoped>
  .dashboard-card {
    margin-bottom: 16px;
  }

  .dashboard-card a {
    color: #303133;
    text-decoration: none;
  }

  >>> .el-card__header {
    background-color: #fafcff;
  }

  >>> .el-card__header b {
    line-height: 28px;
  }

  >>> .el-card__header .el-button {
    float: right;
  }

  .el-table::before {
    height: 0;
  }

  >>> .el-table__body,
  >>> .el-table__empty-block,
  >>> .el-table__empty-text {
    width: 100% !important;
  }

  >>> .el-table__body colgroup {
    display: none !important;
  }

  >>> .el-table__body tr {
    display: flex;
  }

  >>> .el-table__body tr:hover > td {
    background-color: #f7f7f7 !important;
  }

  >>> .el-table__body td {
    border-bottom: 0;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
  }

  >>> .el-table__body td.is-left,
  >>> .el-table__body td.is-right {
    flex: 0 0 auto;
  }
</style>
