<template>
  <app-main-wrapper>
    <template slot="title">
      Inbox
    </template>
    <el-dropdown @command="onChangeSelectedFilter">
      <el-button
        size="small"
        round
        type="primary">
        {{ selectedFilterLabel }}
        <i class="el-icon-arrow-down el-icon--right"></i>
      </el-button>
      <el-dropdown-menu slot="dropdown">
        <el-dropdown-item command="all">
          All messages
        </el-dropdown-item>
        <el-dropdown-item command="unseen">
          Unseen messages
        </el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>
    <br><br>
    <el-alert
      v-if="filteredMessages.length === 0"
      :closable="false"
      show-icon
      :title="noMessagesLabel"
      type="info" />
    <message-card
      v-for="message in filteredMessages"
      v-else
      :id="message.id"
      :key="message.id"
      :user="message.userId"
      :job-id="message.jobId"
      :job-name="message.jobName"
      :image-name="message.imageName"
      :type="message.notificationType"
      :timestamp="message.timestamp"
      :reason="message.reason"
      :seen="message.seen" />
  </app-main-wrapper>
</template>

<script>
  import * as apiService from '@/services/api.service'
  import AppMainWrapper from '@/components/layout/AppMainWrapper'
  import MessageCard from '@/components/inbox/MessageCard'

  export default {
    components: { AppMainWrapper, MessageCard },
    data: function () {
      return {
        messages: [],
        selectedFilter: 'all',
      }
    },
    computed: {
      filteredMessages () {
        switch (this.selectedFilter) {
          case 'unseen': return this.messages.filter(message => message.seen === false)
          case 'all': return this.messages
          default: return this.messages
        }
      },
      selectedFilterLabel () {
        switch (this.selectedFilter) {
          case 'unseen': return 'Unseen Messages'
          case 'all': return 'All Messages'
          default: return ''
        }
      },
      noMessagesLabel () {
        switch (this.selectedFilter) {
          case 'unseen': return 'There are no unseen messages in your Inbox.'
          case 'all': return 'There are no messages in your Inbox.'
          default: return ''
        }
      },
    },
    mounted () {
      this.fetchMessages()
    },
    methods: {
      fetchMessages () {
        apiService
          .readInboxMessages()
          .then(messages => this.messages = messages)
          .catch(error => this.$message({
            type: 'error',
            message: error,
            offset: 36,
          }))
      },
      onChangeSelectedFilter (filter) {
        this.selectedFilter = filter
      },
    },
  }
</script>

<style></style>
