<template>
  <app-main-wrapper>
    <div style="text-align: center">
      <el-row>
        <el-col
          :lg="{ span: 12, offset: 6 }"
          :sm="{ span: 16, offset: 4 }"
          :xs="{ span: 20, offset: 2 }">
          <p>
            <img
              width="100%"
              :src="$logoUrl">
          </p>
        </el-col>
        <el-col
          :lg="{ span: 12, offset: 6 }"
          :sm="{ span: 16, offset: 4 }"
          :xs="24">
          <h1>Welcome to JobJogger</h1>
          <p>
            JobJogger helps data-scientists, statisticians and data-journalists to outsource complex calculations
            to our servers in order to save time and expenses on good hardware.
          </p>
          <p>
            Only 4 Steps are needed:
          </p>
          <el-timeline>
            <el-timeline-item placement="top">
              <el-card>
                <h4>Dockerize your script!</h4>
                <p>
                  Follow our step-by-step guides to create a Dockerimage from your script that you want to run.<br />
                  You can literally run any type of script in your preferred programming language
                  due to the massive capabilities of the <b>Docker ecosystem</b>.
                </p>
              </el-card>
            </el-timeline-item>
            <el-timeline-item placement="top">
              <el-card>
                <h4>Upload it!</h4>
                <p>
                  Use or easy uploader for any Dockerimage that you want! Alternatively you can be guided by our Wizard
                  to get your script running in our Cluster.
                </p>
              </el-card>
            </el-timeline-item>
            <el-timeline-item placement="top">
              <el-card>
                <h4>Configure your Jobs!</h4>
                <p>Derive a Job from the Image and set environment-variables to adjust the properties of your calculation.</p>
              </el-card>
            </el-timeline-item>
            <el-timeline-item placement="top">
              <el-card>
                <h4>Run it!</h4>
                <p>
                  After configuring all the needed and optional setting for a Job, you can just run it.
                  You can follow the status of your Job, its logs and much more.<br />
                  You don't have to worry about it anymore, we'll tell you when it's done!
                </p>
              </el-card>
            </el-timeline-item>
          </el-timeline>
        </el-col>
      </el-row>
    </div>
  </app-main-wrapper>
</template>

<script>
  import AppMainWrapper from '@/components/layout/AppMainWrapper'

  export default {
    components: { AppMainWrapper },
    data: function () {
      return {}
    },
  }
</script>

<style scoped>
  h1 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
    margin: 8px 0 16px;
  }

  .el-timeline {
    padding: 0;
  }
</style>
