<template>
  <app-main-wrapper>
    <template slot="title">
      404 Not Found
    </template>
  </app-main-wrapper>
</template>

<script>
  import AppMainWrapper from '@/components/layout/AppMainWrapper'

  export default {
    components: { AppMainWrapper },
    data: function () {
      return {}
    },
  }
</script>

<style></style>
