html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  height: 100%;
  color: #001328; /* TODO: Move colors to dedicated file */
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: element-icons;
  src: url(fonts/element-icons.535877f5.woff) format("woff"), url(fonts/element-icons.732389de.ttf) format("truetype");
  font-weight: 400;
  font-display: auto;
  font-style: normal;
}
