<template>
  <div id="app">
    <el-container class="is-vertical content-container">
      <app-header />
      <el-container
        v-loading="$isLoading"
        class="content-container">
        <div
          v-if="$userIsLoggedIn"
          id="menu-container"
          :class="{ collapsed: !hasMenu }">
          <app-menu
            :collapsed="!hasMenu"
            @toggle="toggleMenu" />
        </div>
        <div id="main-container">
          <router-view
            :key="this.$route ? this.$route.fullPath : ''" />
        </div>
        <div
          id="side-container"
          :class="{ collapsed: !hasSide }">
          <router-view
            :key="this.$route ? this.$route.fullPath : ''"
            name="side" />
        </div>
      </el-container>
    </el-container>
  </div>
</template>

<script>
  import * as apiService from '@/services/api.service'
  import AppHeader from '@/components/layout/AppHeader'
  import AppMenu from '@/components/layout/AppMenu'
  import { mapGetters } from 'vuex'

  export default {
    name: 'App',
    components: {
      AppHeader,
      AppMenu,
    },
    data: function () {
      return {
        menu: {
          userCollapsed: false,
          userExpanded: false,
          windowTooSmall: false,
        },
        watchedJobsInterval: null,
        isRefreshingJobs: false,
      }
    },
    computed: {
      ...mapGetters('app', ['watchedJobs']),
      hasMenu () {
        if (this.hasSide || this.menu.windowTooSmall) return this.menu.userExpanded
        else return !this.menu.userCollapsed
      },
      hasSide () {
        return (
          this.$route.matched &&
          this.$route.matched[0] &&
          this.$route.matched[0].components &&
          !!this.$route.matched[0].components.side
        )
      },
    },
    watch: {
      menu: {
        handler (menu) {
          localStorage.setItem('userCollapsedMenu', `${menu.userCollapsed}`)
        },
        deep: true,
      },
      hasSide: {
        handler (hasSide) {
          if (hasSide) this.menu.userExpanded = false
        },
      },
      watchedJobs: {
        handler (jobs) {
          if (this.watchedJobsInterval !== null) clearInterval(this.watchedJobsInterval)
          if (jobs === undefined || jobs.length < 1) return
          this.watchedJobsInterval = setInterval(() => this.refreshJobs(jobs), 1000)
        },
        deep: true,
        immediate: true,
      },
    },
    mounted() {
      this.getUserCollapsedChoice()
      this.calculateWindowTooSmall()
      this.$nextTick(() => window.addEventListener('resize', this.calculateWindowTooSmall))
    },
    beforeDestroy() {
      window.removeEventListener('resize', this.calculateWindowTooSmall)
    },
    methods: {
      calculateWindowTooSmall () {
        if (this.menu.windowTooSmall && window.innerWidth >= 992) this.menu.windowTooSmall = this.menu.userExpanded = false
        else if (!this.menu.windowTooSmall && window.innerWidth < 992) this.menu.windowTooSmall = true
      },
      getUserCollapsedChoice () {
        this.menu.userCollapsed = localStorage.getItem('userCollapsedMenu') === 'true'
      },
      toggleMenu () {
        if (this.hasSide || this.menu.windowTooSmall) this.menu.userExpanded = !this.menu.userExpanded
        else this.menu.userCollapsed = !this.menu.userCollapsed
      },
      refreshJobs (ids) {
        if (this.isRefreshingJobs || !document.hasFocus()) return

        this.isRefreshingJobs = true

        apiService.refreshJobStatuses(ids).then(() => {
          this.isRefreshingJobs = false
        })
      },
    },
  }
</script>

<style>
  @import "style/index.css";
  @import "~element-ui/lib/theme-chalk/display.css";

  html,
  body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    height: 100%;
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #app {
    width: 100%;
    height: 100%;
    color: #001328; /* TODO: Move colors to dedicated file */
  }

  #app > .content-container {
    min-height: 100vh !important;
  }

  #app #menu-container {
    width: 200px;
    height: calc(100vh - 64px);
    position: sticky;
    top: 64px;
    overflow-y: auto;
    flex: 0 0 auto;
    background: #fcfcfc;
    border-right: 1px #efefef solid;

    transition: width 0.25s ease-in-out 0.05s;
  }

  #app #menu-container.collapsed {
    width: 64px;
  }

  #app #main-container {
    flex: 1 1 auto;
  }

  #app #side-container {
    width: 480px;
    height: calc(100vh - 64px);
    position: sticky;
    top: 64px;
    overflow-y: auto;
    flex: 0 0 auto;
    background: #fcfcfc;
    border-left: 1px #efefef solid;

    -webkit-transition: width 0.25s ease-in-out;
    -moz-transition: width 0.25s ease-in-out;
    -ms-transition: width 0.25s ease-in-out;
    -o-transition: width 0.25s ease-in-out;
    transition: width 0.25s ease-in-out;
  }

  #app #side-container.collapsed {
    width: 0;
  }
</style>
