<template>
  <div id="login-component">
    <el-container class="is-vertical">
      <app-header auth-only />
      <el-main id="main-container">
        <h1>JobJogger Login</h1>
        <div>
          <el-row>
            <el-col
              :lg="{ span: 8, offset: 8 }"
              :sm="{ span: 12, offset: 6 }"
              :xs="24">
              <el-alert
                v-if="success"
                :closable="false"
                :title="success"
                class="alert-container"
                show-icon
                type="success" />
              <el-alert
                v-if="error"
                :closable="false"
                :title="error"
                class="alert-container"
                show-icon
                type="error" />
              <div class="input-container">
                <label>Username</label>
                <el-input
                  v-model="username"
                  clearable
                  name="username"
                  type="text"
                  @keyup.enter.native="login" />
              </div>
              <div class="input-container">
                <label>Password</label>
                <el-input
                  v-model="password"
                  name="password"
                  show-password
                  @keyup.enter.native="login" />
              </div>
              <el-button
                id="login-button"
                :loading="isLoading"
                icon="el-icon-user-solid"
                type="success"
                @click="login">
                Login
              </el-button>
              <br><br>
              <el-button
                id="sign-up-button"
                @click="navigateToSignUp">
                Sign Up
              </el-button>
            </el-col>
          </el-row>
        </div>
      </el-main>
    </el-container>
  </div>
</template>

<script>
  import Vue from 'vue'
  import AppHeader from '@/components/layout/AppHeader'
  import ElementUI from 'element-ui'
  import * as authService from '@/services/auth.service'
  import validator from 'validator'
  import AppConfig from '@/config'

  Vue.use(ElementUI)

  export default {
    components: {
      AppHeader,
    },
    data: function () {
      return {
        error: '',
        success: '',
        isLoading: false,
        username: '',
        password: '',
      }
    },
    mounted () {
      const url = new URL(window.location.href)
      if (url.searchParams.has('error'))
        this.error = 'Invalid username or password'

      // TODO: Handle this directly on auth server
      if (document.referrer === `${AppConfig.urls.authServer.signUp}?success`)
        this.success = 'Signed up successfully, login to proceed'
    },
    methods: {
      login () {
        if (validator.isEmpty(this.username))
          return (this.error = 'The username cannot be empty')
        if (validator.isEmpty(this.password))
          return (this.error = 'The password cannot be empty')

        this.error = ''
        this.isLoading = true

        authService.login({
          username: this.username,
          password: this.password,
        })
      },
      navigateToSignUp () {
        authService.authorize({ signUp: true })
      },
    },
  }
</script>

<style>
  @import "./../../style/index.css";
  @import "~element-ui/lib/theme-chalk/display.css";

  h1 {
    text-align: center;
  }

  .el-button {
    width: 100%;
  }

  .input-container,
  .alert-container {
    margin-bottom: 24px;
  }

  .input-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 4px;
  }
</style>
