<template>
  <div id="sign-up-component">
    <el-container class="is-vertical">
      <app-header auth-only />
      <el-main id="main-container">
        <h1>JobJogger Sign-Up</h1>
        <div>
          <el-row>
            <el-col
              :lg="{ span: 8, offset: 8 }"
              :sm="{ span: 12, offset: 6 }"
              :xs="24">
              <el-alert
                v-for="(error, index) in errors"
                :key="index"
                :closable="false"
                :title="error"
                class="alert-container"
                show-icon
                type="error" />
              <div class="input-container">
                <label>Username</label>
                <el-input
                  v-model="username"
                  clearable
                  name="username"
                  type="text"
                  @keyup.enter.native="signUp" />
              </div>
              <div class="input-container">
                <label>Password</label>
                <el-input
                  v-model="password"
                  name="password"
                  show-password
                  @keyup.enter.native="signUp" />
              </div>
              <div class="input-container">
                <label>Confirm Password</label>
                <el-input
                  v-model="confirmPassword"
                  name="confirm-password"
                  show-password
                  @keyup.enter.native="signUp" />
              </div>
              <div class="input-container">
                <label>E-Mail</label>
                <el-input
                  v-model="email"
                  clearable
                  name="email"
                  type="text"
                  @keyup.enter.native="signUp" />
              </div>
              <div class="input-container">
                <label>Terms and Conditions</label>
                <el-checkbox
                  v-model="terms"
                  name="terms"
                  @keyup.enter.native="signUp">
                  I accept the Terms and Conditions of
                  JobJogger
                </el-checkbox>
              </div>
              <el-button
                id="sign-up-button"
                :loading="isLoading"
                icon="el-icon-user-solid"
                type="success"
                @click="signUp">
                Sign Up
              </el-button>
              <br><br>
              <el-button
                id="login-button"
                @click="navigateToLogin">
                Login
              </el-button>
            </el-col>
          </el-row>
        </div>
      </el-main>
    </el-container>
  </div>
</template>

<script>
  import Vue from 'vue'
  import AppHeader from '@/components/layout/AppHeader'
  import ElementUI from 'element-ui'
  import * as authService from '@/services/auth.service'
  import validator from 'validator'

  Vue.use(ElementUI)

  export default {
    components: {
      AppHeader,
    },
    data: function () {
      return {
        errors: [],
        isLoading: false,
        username: '',
        password: '',
        confirmPassword: '',
        email: '',
        terms: false,
      }
    },
    mounted () {
      const url = new URL(window.location.href)
      // TODO: Determine exact error in a better way
      if (url.searchParams.has('error')) {
        var errorParam = url.searchParams.get('error')
        errorParam = errorParam.replace(/-/g, ' ')
        this.errors = errorParam.split(',')
      }
      // TODO: Handle this directly on auth server?
      if (url.searchParams.has('success'))
        authService.authorize()
    },
    methods: {
      addError(msg) {
        if (!this.errors.includes(msg)){
          this.errors.push(msg)
        }
      },
      signUp () {
        if (validator.isEmpty(this.username))
          return (this.addError('The username cannot be empty'))
        if (!validator.isLowercase(this.username))
          return (this.addError('The username must only contain lower case letters'))
        if (!validator.matches(this.username, '^[a-z0-9-.]+$', 'm'))
          return (this.addError('The username must only contain lower case letters, numbers, dashes and dots'))
        if (!validator.isLength(this.username, { min: 3, max: 32 }))
          return (this.addError('The username must have at least 3 and at most 32 chars'))
        if (this.username === 'default')
          return (this.addError('The username must not be \'default\''))

        if (validator.isEmpty(this.password))
          return (this.addError('The password cannot be empty'))
        if (validator.isEmpty(this.confirmPassword))
          return (this.addError('The password confirmation cannot be empty'))
        if (validator.isEmpty(this.email))
          return (this.addError('The email cannot be empty'))
        if (!this.terms)
          return (this.addError('The Terms and Conditions have to be accepted'))

        // TODO: More password validation?
        if (this.password !== this.confirmPassword)
          return (this.addError('The password must match the confirmation'))
        if (!validator.isLength(this.password, { min: 6 }))
          return (this.addError('The password must have at least 6 chars'))

        if (!validator.isEmail(this.email))
          return (this.addError('The email has to be valid'))

        this.errors = []
        this.isLoading = true

        authService.signUp({
          username: this.username,
          password: this.password,
          confirmPassword: this.confirmPassword,
          email: this.email,
          terms: this.terms,
        })
      },
      navigateToLogin () {
        authService.authorize()
      },
    },
  }
</script>

<style>
  @import "./../../style/index.css";
  @import "~element-ui/lib/theme-chalk/display.css";

  h1 {
    text-align: center;
  }

  .el-button {
    width: 100%;
  }

  .input-container,
  .alert-container {
    margin-bottom: 24px;
  }

  .input-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 4px;
  }
</style>
